# <font color='red'>Importing Required Library</font>

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

# <font color='fuchsia'>1. Write a python program to display all the header tags from wikipedia.org.</font>

In [2]:
def header_tags(link):  # Defining function
    html = requests.get(link)
    soup = BeautifulSoup(html.content, "html.parser")
    
    # finding all heading with find all function
    headings = soup.find_all(['h1', 'h2','h3','h4','h5'])
    
    print(f'Heading \t Text')  # Table Headings
    # Applying for loop to extract heading text from html
    for heading in headings:
        print(f"{heading.name} \t - > \t {heading.get_text().strip()}")
        
header_tags("https://en.wikipedia.org/wiki/Main_Page")  # Running Function, that takes link as arguement

Heading 	 Text
h1 	 - > 	 Main Page
h1 	 - > 	 Welcome to Wikipedia
h2 	 - > 	 From today's featured article
h2 	 - > 	 Did you know ...
h2 	 - > 	 In the news
h2 	 - > 	 On this day
h2 	 - > 	 Today's featured picture
h2 	 - > 	 Other areas of Wikipedia
h2 	 - > 	 Wikipedia's sister projects
h2 	 - > 	 Wikipedia languages
h2 	 - > 	 Navigation menu
h3 	 - > 	 Personal tools
h3 	 - > 	 Namespaces
h3 	 - > 	 Views
h3 	 - > 	 Search
h3 	 - > 	 Navigation
h3 	 - > 	 Contribute
h3 	 - > 	 Tools
h3 	 - > 	 Print/export
h3 	 - > 	 In other projects
h3 	 - > 	 Languages

# <font color='fuchsia'>2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.</font>

In [3]:
def imdb_top_100(url="https://www.imdb.com/chart/top/"):  # Defining function
    
    html = requests.get(url)
    html.content
    soup = BeautifulSoup(html.content, "html.parser")
    soup.prettify
    
    # Finding Movie Names
    movie_names = soup.find_all('td', class_="titleColumn")
    movies = []
    for movie in movie_names:
        movie = movie.get_text().replace("\n", "")
        movies.append(movie.strip(" "))
        
    #Movie Ratings
    all_ratings = soup.find_all('td', class_="ratingColumn imdbRating")
    ratings = []
    for rating in all_ratings:
        rating = rating.get_text().replace("\n", "")
        ratings.append(rating)
        
    # Creating data frame and extracting name, year, number
    df = pd.DataFrame()
    df['movies'] = movies
    df['ratings'] = ratings

    # Removing additional Spaces
    new_movies = []
    for i in df["movies"]:
        a = i.replace("      ", "")
        new_movies.append(a)
    # print(len(new_movies))

    # Adding New Data Frame to DF

    df["new"] = new_movies
    
    
    # Seperating Releasing Year
    release_year = []
    for i in range(0, len(df)):
        a_string = df["movies"][i]
        result = re.search(r"\(([A-Za-z0-9_]+)\)", a_string)
        release_year.append(result.group(1))
    # print(release_year)


    
    # Adding releasing year to DF
    df["Release Year"] = release_year  # Seperating release year
    df.head()
    
    
    # Deleting Existing Name from Data Frame
    # New_Movie_name added in file
    movie_name = []
    for i in range(0, len(df["new"])):
        in_str = str(i)
        len_of_st = len(in_str) + 1
        a = df["new"][i][len_of_st:-6]
        movie_name.append(a)
    df["Movie Name"] = movie_name
    
    
    new_df = pd.DataFrame()
    # new_df.style.hide_index()
    new_df["Rank"] = [i for i in range(1, 251)]
    new_df["Movie Name"] = movie_name
    new_df["Year"] = release_year
    new_df["Ratings"] = ratings
    return new_df.head(100)

imdb_top_100("https://www.imdb.com/chart/top/")

    Rank                         Movie Name  Year Ratings
0      1           The Shawshank Redemption  1994     9.2
1      2                      The Godfather  1972     9.2
2      3                    The Dark Knight  2008     9.0
3      4              The Godfather Part II  1974     9.0
4      5                       12 Angry Men  1957     8.9
..   ...                                ...   ...     ...
95    96                       Citizen Kane  1941     8.3
96    97  M - Eine Stadt sucht einen Mörder  1931     8.3
97    98                 North by Northwest  1959     8.3
98    99                       Idi i smotri  1985     8.2
99   100                           .Vertigo  1958     8.2

[100 rows x 4 columns]

# <font color='fuchsia'>3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.</font>

### NOTE: As we are using, same website to scrap data. After studying structure of "Top 100 Indian movies", i can say that, same function (imdb_top_100) can be applied to extract top 100 Indian movies.

In [4]:
print("\033[1m Top 100 Indian Movies")
imdb_top_100(url="https://www.imdb.com/india/top-rated-indian-movies/")

 Top 100 Indian Movies

    Rank                   Movie Name  Year Ratings
0      1   Rocketry: The Nambi Effect  2022     8.5
1      2                   Anbe Sivam  2003     8.4
2      3                     Jai Bhim  2021     8.4
3      4                      Nayakan  1987     8.4
4      5                      Golmaal  1979     8.4
..   ...                          ...   ...     ...
95    96                  Ustad Hotel  2012     8.0
96    97   The Legend of Bhagat Singh  2002     8.0
97    98                    Virumandi  2004     8.0
98    99  Baahubali 2: The Conclusion  2017     8.0
99   100                      .Angoor  1982     8.0

[100 rows x 4 columns]

# <font color='fuchsia'>4. Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)</font>
## Link: https://presidentofindia.nic.in/former-presidents.htm

In [5]:
def presidents_info(url):
    page = requests.get(url)
    page.content
    soup = BeautifulSoup(page.content, "html.parser")
    soup.prettify
    president_name = soup.find_all('ul', class_="listing cf")

    lis = []
    new_list = []
    for ul in president_name:
        for li in ul.findAll('li'):
            if li.find('ul'):
                break
            lis.append(li)

        for li in lis:
            # print(li.text.encode("utf-8"))
            new_list.append(li.text.encode("utf-8"))
    # Extracting Names
    presidents = []
    for i in range(0, len(new_list)):
        a = str(new_list[i]).replace("\\n", "")
        leb_ = a.find("(")
        # print(a[2:leb_])
        presidents.append(a[2:leb_])
    # print(presidents)
    
    year = []
    for i in range(0, len(new_list)):
        a = str(new_list[i]).replace("\\n", "")
        start_ = a.find("(")
        end_ = a.find(")")
        # print(a[start_:end_])
        year.append(a[start_+1:end_])
    # print(year)
    
    # Extracting Terms from page
    term = []
    for para in soup.find_all("p"):
        term.append(para.get_text())
    final_term = []
    for i in range(0, len(term)):
        if term[i][:7] == "Term of":
            # print("True")
            slicing = term[i][16:-1]
            final_term.append(slicing)    

    df = pd.DataFrame()
    df["Presidents"] = presidents
    df["Life Span"] = year
    df['Term Served'] = final_term
    print(df)
    
    

url = "https://presidentofindia.nic.in/former-presidents.htm" 

presidents_info(url)

                       Presidents     Life Span  \
0           Shri Ram Nath Kovind   birth - 1945
1          Shri Pranab Mukherjee      1935-2020
2   Smt Pratibha Devisingh Patil   birth - 1934
3         DR. A.P.J. Abdul Kalam      1931-2015
4           Shri K. R. Narayanan    1920 - 2005
5        Dr Shankar Dayal Sharma      1918-1999
6            Shri R Venkataraman      1910-2009
7               Giani Zail Singh      1916-1994
8      Shri Neelam Sanjiva Reddy      1913-1996
9       Dr. Fakhruddin Ali Ahmed      1905-1977
10  Shri Varahagiri Venkata Giri      1894-1980
11              Dr. Zakir Husain      1897-1969
12  Dr. Sarvepalli Radhakrishnan      1888-1975
13           Dr. Rajendra Prasad      1884-1963

                                          Term Served
0                      25 July, 2017 to 25 July, 2022
1                      25 July, 2012 to 25 July, 2017
2                      25 July, 2007 to 25 July, 2012
3                      25 July, 2002 to 25 July, 2007
4                      25 July, 1997 to 25 July, 2002
5                      25 July, 1992 to 25 July, 1997
6                      25 July, 1987 to 25 July, 1992
7                      25 July, 1982 to 25 July, 1987
8                      25 July, 1977 to 25 July, 1982
9                 24 August, 1974 to 11 February, 197
10  3 May, 1969 to 20 July, 1969 and 24 August, 19...
11                         13 May, 1967 to 3 May, 196
12                        13 May, 1962 to 13 May, 196
13                    26 January, 1950 to 13 May, 196

# <font color='fuchsia'>5. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:</font>
### a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
### b) Top 10 ODI Batsmen along with the records of their team and rating.
### c) Top 10 ODI bowlers along with the records of their team and rating.

## <font color='green'>a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.</font>

In [6]:
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/test"
def top_10_teams(url):
    html = requests.get(url)
    soup = BeautifulSoup(html.content, "html.parser")
    
    # Top 10 Team Names
    team_name = soup.findAll("span", {'class': 'u-hide-phablet'})
    team_name_df = []
    for name in team_name:
        # print(name.get_text())
        team_name_df.append(name.get_text())

    # Match score and Points of last 9 teams
    total_match_df = []
    total_point_df = []
    matches_and_points_df = []
    
    # Extracting total matches and points for first row, because of different class name
    matches_and_points_df = []
    matches_and_points_df.clear()
    first_ = soup.findAll("td", {'class': 'rankings-block__banner--matches'})
    second_ = soup.findAll("td", {'class': 'rankings-block__banner--points'})

    for _ in first_:
        matches_and_points_df.append(_.get_text())

    for _ in second_:
        matches_and_points_df.append(_.get_text())

    # print(total_match_df)
    # print(total_point_df)
    
    
    matches = soup.findAll("td", {'class': 'table-body__cell u-center-text'})

    for match in matches:
            # print(match.get_text())
        matches_and_points_df.append(match.get_text())
    res = matches_and_points_df[::2] + matches_and_points_df[1::2]
    total_match_df = res[(len(matches_and_points_df)//2):]
    total_point_df = res[:(len(matches_and_points_df)//2)]
    rank = [i for i in range(1, len(total_match_df)+1)]
    
    
    # Raking Ranking
    # taking rating of first column
    rating = []
    rating_first = soup.findAll("td", {'class': 'rankings-block__banner--rating u-text-right'})
    rating_rest = soup.findAll("td", {'class': 'table-body__cell u-text-right rating'})

    for _ in rating_first:
        pre_processor = _.get_text().strip()
        print(pre_processor)
        rating.append(pre_processor)
    for _ in rating_rest:
        rating.append(_.get_text())
        #if len(rating) == 10:
            # break
    # print(rating[:10])
    
    
    
    # Extracting Type of Data
    text = soup.findAll("h4")
    for _ in text:
        print(_.get_text(), '\033[1m')
    # creating data frame
    df = pd.DataFrame()
    df['Rank'] = rank
    df["Team Names"] = team_name_df
    df["Total Points"] = total_match_df
    df["Total Matchs"] = total_point_df
    # print(len(total_match_df), "and", len(rating))
    df["Rating"] = rating
    print(df.head(10))

top_10_teams("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

119
Men's ODI Team Rankings
   Rank    Team Names Total Points Total Matchs Rating
0     1       England        3,226           27    119
1     2   New Zealand        2,508           22    114
2     3         India        3,447           31    111
3     4      Pakistan        2,354           22    107
4     5     Australia        3,071           29    106
5     6  South Africa        2,111           21    101
6     7    Bangladesh        2,753           30     92
7     8     Sri Lanka        2,658           29     92
8     9   West Indies        2,902           41     71
9    10   Afghanistan        1,238           18     69

## <font color='green'>b) Top 10 ODI Batsmen along with the records of their team and rating.</font>

In [7]:
def top_10_players(url):
    html = requests.get(url)
    soup = BeautifulSoup(html.content, "html.parser")
    
# Creating empty lists to append data
    players_name_df = []
    player_team_df = []
    player_rating_df = []
    careers_rating_df = []
    
    
# Accessing only top player
    # Top Player Name
    top_player_name = soup.findAll("div", {'class': 'rankings-block__banner--name-large'})
    for name in top_player_name:
        # print(name.get_text())
        players_name_df.append(name.get_text())


    # Top Player team
    top_player_team = soup.findAll("div", {'class': 'rankings-block__banner--nationality'})
    for name in top_player_team:
        a = name.get_text().strip()
        # print(name.get_text())
        player_team_df.append(a)    



    # Top Player rating
    top_player_rating = soup.findAll("div", {'class': 'rankings-block__banner--rating'})
    for name in top_player_rating:
        a = name.get_text().strip()
        # print(name.get_text())
        player_rating_df.append(a)



    # Top Player career Best
    top_player_career_best = soup.findAll("span", {'class': 'rankings-block__career-best-text'})
    for name in top_player_career_best:
        a = name.get_text().strip()
        # print(name.get_text())
        careers_rating_df.append(a)    

    # print(careers_rating_df)
    
    

# Accessing Rest of the players

    # Rest of player Names
    rest_player_name = soup.findAll("td", {'class': 'table-body__cell rankings-table__name name'})
    for name in rest_player_name:
        a = name.get_text().strip()
        # print(name.get_text())
        players_name_df.append(a)


    # Rest of player Teams
    rest_player_team = soup.findAll("span", {'class': 'table-body__logo-text'})
    for name in rest_player_team:
        # print(name.get_text())
        player_team_df.append(name.get_text())


    # Rest of player rating
    rest_player_rating = soup.findAll("td", {'class': 'table-body__cell rating'})
    for name in rest_player_rating:
        # print(name.get_text())
        player_rating_df.append(name.get_text())

    # Rest of player career Best
    rest_player_career = soup.findAll("td", {'class': 'table-body__cell u-text-right u-hide-phablet'})
    for name in rest_player_career:
        a = name.get_text().strip()
        # print(name.get_text())
        careers_rating_df.append(a)
        
    # Rank
    rank = [i for i in range(1, len(players_name_df)+1)]
    
    text = soup.findAll("h4")
    for _ in text:
        print(_.get_text(), '\033[1m')

    players_df = pd.DataFrame() 
    players_df["Rank"] = rank    
    players_df["Player Name"] = players_name_df
    players_df["Team"] = player_team_df
    players_df["Rating"] = player_rating_df
    players_df["Career Best"] = careers_rating_df
    print(players_df.head(10))
    

top_10_players("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")

Men's ODI Batting Rankings
   Rank            Player Name Team Rating                    Career Best
0     1             Babar Azam  PAK    890  898 v West Indies, 10/06/2022
1     2  Rassie van der Dussen   SA    789      796 v England, 19/07/2022
2     3        Quinton de Kock   SA    784    813 v Sri Lanka, 10/03/2019
3     4            Imam-ul-Haq  PAK    779  815 v West Indies, 12/06/2022
4     5            Virat Kohli  IND    744      911 v England, 12/07/2018
5     6           Rohit Sharma  IND    740    885 v Sri Lanka, 06/07/2019
6     7         Jonny Bairstow  ENG    732        796 v India, 26/03/2021
7     8           David Warner  AUS    725     880 v Pakistan, 26/01/2017
8     9            Ross Taylor   NZ    701   841 v Bangladesh, 05/06/2019
9    10            Steve Smith  AUS    697     752 v Pakistan, 22/01/2017

## <font color='green'>c) Top 10 ODI bowlers along with the records of their team and rating.</font>

### Note: As we are extracting top 10 bowlers, so after studing html, we can say that same "top_10_players" can be used to extract "Top 10 ODI bowlers".

In [8]:
top_10_players("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

Men's ODI Bowling Rankings
   Rank       Player Name Team Rating                    Career Best
0     1       Trent Boult   NZ    775    775 v Australia, 11/09/2022
1     2    Josh Hazlewood  AUS    718      733 v England, 26/01/2018
2     3  Mujeeb Ur Rahman  AFG    676      712 v Ireland, 24/01/2021
3     4    Jasprit Bumrah  IND    662  841 v West Indies, 01/11/2018
4     5    Shaheen Afridi  PAK    661  688 v West Indies, 10/06/2022
5     6     Mohammad Nabi  AFG    657     657 v Zimbabwe, 09/06/2022
6     7      Mehedi Hasan  BAN    655    725 v Sri Lanka, 25/05/2021
7     8        Matt Henry   NZ    654   691 v Bangladesh, 26/03/2021
8     9    Mitchell Starc  AUS    653  783 v New Zealand, 29/03/2015
9    10       Rashid Khan  AFG    651     806 v Pakistan, 21/09/2018

# <font color='fuchsia'>6. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:</font>
### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
### b) Top 10 women’s ODI Batting players along with the records of their team and rating.
### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

## <font color='green'>a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.</font>

In [9]:
top_10_teams("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

167
Women's ODI Rankings
   Rank    Team Names Total Points Total Matchs Rating
0     1     Australia        4,837           29    167
1     2  South Africa        4,157           35    119
2     3       England        4,205           36    117
3     4         India        3,732           35    107
4     5   New Zealand        3,302           33    100
5     6   West Indies        2,864           32     90
6     7    Bangladesh          930           12     78
7     8      Pakistan        1,962           30     65
8     9       Ireland          516           11     47
9    10     Sri Lanka          495           11     45

## <font color='green'>b) Top 10 women’s ODI Batting players along with the records of their team and rating.</font>

In [10]:
top_10_players("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")

Women's ODI Batting Rankings
   Rank          Player Name Team Rating                     Career Best
0     1         Alyssa Healy  AUS    785       785 v England, 03/04/2022
1     2          Beth Mooney  AUS    749       748 v England, 03/04/2022
2     3       Natalie Sciver  ENG    740  755 v South Africa, 15/07/2022
3     4      Laura Wolvaardt   SA    732     741 v Australia, 22/03/2022
4     5          Meg Lanning  AUS    710   834 v New Zealand, 24/02/2016
5     6       Rachael Haynes  AUS    701   713 v West Indies, 15/03/2022
6     7      Smriti Mandhana  IND    698       797 v England, 28/02/2019
7     8    Amy Satterthwaite   NZ    681     756 v Australia, 02/03/2017
8     9     Harmanpreet Kaur  IND    662  679 v South Africa, 28/11/2014
9    10  Chamari Athapaththu   SL    655  691 v South Africa, 14/02/2019

## <font color='green'>c) Top 10 women’s ODI all-rounder along with the records of their team and rating.¶</font>

In [11]:
top_10_players("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

Women's ODI All-Rounder Rankings
   Rank        Player Name Team Rating                     Career Best
0     1       Ellyse Perry  AUS    374   548 v West Indies, 11/09/2019
1     2     Natalie Sciver  ENG    372  395 v South Africa, 11/07/2022
2     3     Marizanne Kapp   SA    349   419 v West Indies, 10/09/2021
3     4    Hayley Matthews   WI    339         365 v India, 12/03/2022
4     5        Amelia Kerr   NZ    336  339 v South Africa, 17/03/2022
5     6      Deepti Sharma  IND    271  397 v South Africa, 09/10/2019
6     7   Ashleigh Gardner  AUS    270   279 v West Indies, 30/03/2022
7     8      Jess Jonassen  AUS    246   308 v West Indies, 11/09/2019
8     9     Jhulan Goswami  IND    219     308 v Australia, 02/02/2016
9    10  Sophie Ecclestone  ENG    217  217 v South Africa, 31/03/2022

# <font color='fuchsia'>7. Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world</font>
####  i) Headline
#### ii) Time
#### iii) News Link

In [12]:
def top_news(url):
    html = requests.get(url)
    soup = BeautifulSoup(html.content, "html.parser")
    
    # Extracting Time
    time_df = []
    time_list = soup.findAll("time", {'class': 'LatestNews-timestamp'})
    for time in time_list:
        # print(time.get_text())
        time_df.append(time.get_text())
        
    # Extracting Heading
    heading_df = []
    headings = soup.findAll("a", {'class': 'LatestNews-headline'})
    for heading in headings:
        # print(heading.get_text())
        heading_df.append(heading.get_text())
        
    # Extracting Links
    links_df = []
    news_link = soup.findAll("a", {'class': 'LatestNews-headline'})
    for link in news_link:
        # print(link.get('href'))
        links_df.append(link.get('href'))
        
    
    # adding files to Df
    news_df = pd.DataFrame()
    news_df["Time"] = time_df
    news_df["News"] = heading_df
    news_df["Link"] = links_df
    print(news_df)

top_news("https://www.cnbc.com/world/?region=world")

                  Time                                               News  \
0            4 Min Ago  Market rout has muni bonds looking attractive....
1           26 Min Ago    These are the 6 best business books of the year
2           26 Min Ago  Meet the most powerful Hollywood player you mi...
3           26 Min Ago  Pumpkin spice latte popularity comes down to '...
4           26 Min Ago  Why Mark Cuban says he’s not ready to retire a...
5          7 Hours Ago  Italy poised for hard-right leader as country ...
6         19 Hours Ago  3 rules for a successful open relationship, ac...
7         21 Hours Ago  Biden administration awards $1.5 billion to fi...
8         21 Hours Ago  Top 10 cities with the best pizzerias worldwid...
9         22 Hours Ago  Black Girls in Trader Joe’s creator shares her...
10        23 Hours Ago  Want to raise strong, resilient kids? Create '...
11        23 Hours Ago  Why the airline climate change plan is trailin...
12        23 Hours Ago  'Queer Eye's Karamo Brown on the morning routi...
13        24 Hours Ago  These 7 states have the least air pollution in...
14  September 24, 2022  New York is now No. 1 port in a tipping point ...
15  September 24, 2022  Analysts have 'high conviction' that these sto...
16  September 24, 2022  Feared stock market bottom retest is now underway
17  September 24, 2022  The No. 1 best city to retire isn't in Florida...
18  September 24, 2022  The perils and promise of quantum computing ar...
19  September 24, 2022  Everything parents need to know about student ...
20  September 24, 2022  Check in, smoke up and tune out: Cannabis-frie...
21  September 24, 2022  Convertibles drive into the sunset as automake...
22  September 24, 2022  Britain's lurch toward 'Reaganomics' gets a th...
23  September 23, 2022  Here's our plan for Monday after another painf...
24  September 23, 2022     What to watch in the markets in the week ahead
25  September 23, 2022  Pro Picks: Watch all of Friday's big stock cal...
26  September 23, 2022  13 careers where over 50% of workers are happy...
27  September 23, 2022  New York AG wrongly said Yankees game on Apple...
28  September 23, 2022  Tech stocks just had the worst two-week stretc...
29  September 23, 2022  Takeaways from Jim Cramer's interviews with th...

                                                 Link
0   https://www.cnbc.com/2022/09/25/market-rout-ha...
1   https://www.cnbc.com/2022/09/25/the-6-best-bus...
2   https://www.cnbc.com/2022/09/25/bryan-lourd-ho...
3   https://www.cnbc.com/2022/09/25/what-pumpkin-s...
4   https://www.cnbc.com/2022/09/25/mark-cuban-say...
5   https://www.cnbc.com/2022/09/25/italy-poised-f...
6   https://www.cnbc.com/2022/09/24/three-rules-fo...
7   https://www.cnbc.com/2022/09/24/biden-administ...
8   https://www.cnbc.com/2022/09/24/top-10-cities-...
9   https://www.cnbc.com/2022/09/24/easy-meals-for...
10  https://www.cnbc.com/2022/09/24/how-to-raise-r...
11  https://www.cnbc.com/2022/09/24/how-airlines-p...
12  https://www.cnbc.com/2022/09/24/queer-eyes-kar...
13  https://www.cnbc.com/2022/09/24/vermont-new-me...
14  https://www.cnbc.com/2022/09/24/new-york-now-n...
15  https://www.cnbc.com/2022/09/24/analysts-name-...
16  https://www.cnbc.com/2022/09/24/feared-stock-m...
17  https://www.cnbc.com/2022/09/24/wallethub-top-...
18  https://www.cnbc.com/2022/09/24/quantum-invest...
19  https://www.cnbc.com/2022/09/24/what-parent-pl...
20  https://www.cnbc.com/2022/09/24/check-in-smoke...
21  https://www.cnbc.com/2022/09/24/convertible-sa...
22  https://www.cnbc.com/2022/09/24/liz-truss-brit...
23  https://www.cnbc.com/2022/09/23/it-was-another...
24  https://www.cnbc.com/2022/09/23/stocks-could-c...
25  https://www.cnbc.com/2022/09/23/pro-picks-watc...
26  https://www.cnbc.com/2022/09/23/careers-where-...
27  https://www.cnbc.com/2022/09/23/new-york-ag-wr...
28  https://www.cnbc.com/2022/09/23/tech-stocks-wo...
29  https://www.cnbc.com/2022/09/23/jim-cramer-sat...

# <font color='fuchsia'>8. Write a python program to scrape the details of most downloaded articles from AI in last 90 days. </font>
## Link: https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
### Scrape below mentioned details :
#### i) Paper Title
#### ii) Authors
#### iii) Published Date
#### iv) Paper URL

In [13]:
def most_downloaded_articles(url):
    html = requests.get(url)
    soup = BeautifulSoup(html.content, "html.parser")
    
    # Extracting Paper Title
    paper_title_df = []
    titles = soup.findAll("h2", {'class': 'sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR'})
    for title in titles:
        # print(title.get_text())
        paper_title_df.append(title.get_text())
        
        
    # Extracting Author Names
    author_name_df = []
    authors = soup.findAll("span", {'class': 'sc-1w3fpd7-0 pgLAT'})
    for author in authors:
        # print(author.get_text())
        author_name_df.append(author.get_text())
        
        
    # Extracting Published Date
    published_date_df = []
    published = soup.findAll("span", {'class': 'sc-1thf9ly-2 bKddwo'})
    for date in published:
        # print(date.get_text())
        published_date_df.append(date.get_text())
        
    # Extracting Links
    paper_links_df = []
    paper_links = soup.findAll("a", {'class': 'sc-5smygv-0 nrDZj'})
    for link in paper_links:
        # print(link.get('href'))
        paper_links_df.append(link.get('href'))
        
               
    papers = pd.DataFrame()
    papers["Paper Title"] = paper_title_df
    papers["Author Name"] = author_name_df
    papers["Published Date"] = published_date_df
    papers["Paper Link"] = paper_links_df

    print(papers)
        
    
most_downloaded_articles('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

                                          Paper Title  \
0                                    Reward is enough
1                           Making sense of raw input
2   Law and logic: A review from an argumentation ...
3              Creativity and artificial intelligence
4   Artificial cognition for social human–robot in...
5   Explanation in artificial intelligence: Insigh...
6                       Making sense of sensory input
7   Conflict-based search for optimal multi-agent ...
8   Between MDPs and semi-MDPs: A framework for te...
9   The Hanabi challenge: A new frontier for AI re...
10  Evaluating XAI: A comparison of rule-based and...
11           Argumentation in artificial intelligence
12  Algorithms for computing strategies in two-pla...
13      Multiple object tracking: A literature review
14  Selection of relevant features and examples in...
15  A survey of inverse reinforcement learning: Ch...
16  Explaining individual predictions when feature...
17  A review of possible effects of cognitive bias...
18  Integrating social power into the decision-mak...
19  “That's (not) the output I expected!” On the r...
20  Explaining black-box classifiers using post-ho...
21  Algorithm runtime prediction: Methods & evalua...
22              Wrappers for feature subset selection
23  Commonsense visual sensemaking for autonomous ...
24         Quantum computation, quantum theory and AI

                                          Author Name  Published Date  \
0   Silver, David, Singh, Satinder, Precup, Doina,...    October 2021
1           Evans, Richard, Bošnjak, Matko and 5 more    October 2021
2                   Prakken, Henry, Sartor, Giovanni     October 2015
3                                 Boden, Margaret A.      August 1998
4     Lemaignan, Séverin, Warnier, Mathieu and 3 more       June 2017
5                                        Miller, Tim    February 2019
6   Evans, Richard, Hernández-Orallo, José and 3 more      April 2021
7   Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...   February 2015
8   Sutton, Richard S., Precup, Doina, Singh, Sati...     August 1999
9         Bard, Nolan, Foerster, Jakob N. and 13 more      March 2020
10  van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...   February 2021
11               Bench-Capon, T.J.M., Dunne, Paul E.     October 2007
12       Bošanský, Branislav, Lisý, Viliam and 3 more     August 2016
13             Luo, Wenhan, Xing, Junliang and 4 more      April 2021
14                      Blum, Avrim L., Langley, Pat    December 1997
15                   Arora, Saurabh, Doshi, Prashant      August 2021
16      Aas, Kjersti, Jullum, Martin, Løland, Anders   September 2021
17  Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...       June 2021
18    Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.    December 2016
19                      Riveiro, Maria, Thill, Serge   September 2021
20  Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...        May 2021
21  Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...    January 2014
22                      Kohavi, Ron, John, George H.    December 1997
23  Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...    October 2021
24                                   Ying, Mingsheng    February 2010

                                           Paper Link
0   https://www.sciencedirect.com/science/article/...
1   https://www.sciencedirect.com/science/article/...
2   https://www.sciencedirect.com/science/article/...
3   https://www.sciencedirect.com/science/article/...
4   https://www.sciencedirect.com/science/article/...
5   https://www.sciencedirect.com/science/article/...
6   https://www.sciencedirect.com/science/article/...
7   https://www.sciencedirect.com/science/article/...
8   https://www.sciencedirect.com/science/article/...
9   https://www.sciencedirect.com/science/article/...
10  https://www.sciencedirect.com/science/article/...
11  https://www.sciencedirect.com/science/article/...
12  https://www.sciencedirect.com/science/article/...
13  https://www.sciencedirect.com/science/article/...
14  https://www.sciencedirect.com/science/article/...
15  https://www.sciencedirect.com/science/article/...
16  https://www.sciencedirect.com/science/article/...
17  https://www.sciencedirect.com/science/article/...
18  https://www.sciencedirect.com/science/article/...
19  https://www.sciencedirect.com/science/article/...
20  https://www.sciencedirect.com/science/article/...
21  https://www.sciencedirect.com/science/article/...
22  https://www.sciencedirect.com/science/article/...
23  https://www.sciencedirect.com/science/article/...
24  https://www.sciencedirect.com/science/article/...

# <font color='fuchsia'>9) Write a python program to scrape mentioned details from dineout.co.in</font>
#### i) Restaurant name
#### ii) Cuisine
#### iii) Location
#### iv) Ratings
#### v) Image URL

In [14]:
def restaurant_details(url):
    html = requests.get(url)
    soup = BeautifulSoup(html.content, "html.parser")
    
    # Extracting Restaurant name
    hotels_df = []
    hotels = soup.findAll("a", {'class': 'restnt-name ellipsis'})
    for hotel in hotels:
        # print(hotel.get_text())
        hotels_df.append(hotel.get_text())
        
        
    # Extracting Cuisine
    Cuisines_df = []
    temp_df = []
    # average_cost = []
    Cuisines = soup.findAll("span", class_="double-line-ellipsis")
    for Cuisine in Cuisines:
        # print(Cuisine.get_text().split("|"))
        temp_df.append(Cuisine.get_text().split("|"))
    for i in temp_df:
        # average_cost.append(i[0])
        Cuisines_df.append(i[1])
    # print(Cuisines_df)
    

    # Extracting Restaurant Location
    locations_df = []
    locations = soup.findAll("div", {'class': 'restnt-loc ellipsis'})
    for location in locations:
        # print(location.get_text())
        locations_df.append(location.get_text())
        
        
    # Extracting Restaurant Ratings
    Ratings_df = []
    Ratings = soup.findAll("div", {'class': 'restnt-rating rating-4'})
    for Rating in Ratings:
        # print(Rating.get_text())
        Ratings_df.append(Rating.get_text())
        

    # Extracting Image Urls
    image_links_df = []
    image_links = soup.findAll("img", {'class': 'no-img'})
    for link in image_links:
        # print(link["data-src"])
        image_links_df.append(link["data-src"])
        
        
    # Creating Data Frame
    restaurants = pd.DataFrame()
    restaurants["Restaurant name"] = hotels_df
    restaurants["Cuisine"] = Cuisines_df
    restaurants["Location"] = locations_df
    restaurants["Ratings"] = Ratings_df
    restaurants["Image Urls"] = image_links_df
    # print(image_links_df[0])
    print(restaurants)
    
    
restaurant_details("https://www.dineout.co.in/delhi-restaurants/buffet-special")

                    Restaurant name                        Cuisine  \
0                   Castle Barbeque          Chinese, North Indian
1                   Jungle Jamboree   North Indian, Asian, Italian
2                   Castle Barbeque          Chinese, North Indian
3                        Cafe Knosh           Italian, Continental
4              The Barbeque Company          North Indian, Chinese
5                       India Grill          North Indian, Italian
6                    Delhi Barbeque                   North Indian
7  The Monarch - Bar Be Que Village                   North Indian
8                 Indian Grill Room          North Indian, Mughlai

                                            Location Ratings  \
0                     Connaught Place, Central Delhi     4.1
1             3CS Mall,Lajpat Nagar - 3, South Delhi     3.9
2             Pacific Mall,Tagore Garden, West Delhi     3.9
3  The Leela Ambience Convention Hotel,Shahdara, ...     4.3
4                 Gardens Galleria,Sector 38A, Noida       4
5               Hilton Garden Inn,Saket, South Delhi     3.9
6     Taurus Sarovar Portico,Mahipalpur, South Delhi     3.7
7  Indirapuram Habitat Centre,Indirapuram, Ghaziabad     3.8
8   Suncity Business Tower,Golf Course Road, Gurgaon     4.3

                                          Image Urls
0  https://im1.dineout.co.in/images/uploads/resta...
1  https://im1.dineout.co.in/images/uploads/resta...
2  https://im1.dineout.co.in/images/uploads/resta...
3  https://im1.dineout.co.in/images/uploads/resta...
4  https://im1.dineout.co.in/images/uploads/resta...
5  https://im1.dineout.co.in/images/uploads/resta...
6  https://im1.dineout.co.in/images/uploads/resta...
7  https://im1.dineout.co.in/images/uploads/resta...
8  https://im1.dineout.co.in/images/uploads/resta...

# <font color='fuchsia'>10) Write a python program to scrape the details of top publications from Google Scholar.</font>

## Link: https://scholar.google.com/citations?view_op=top_venues&hl=en
#### i) Rank
#### ii) Publication
#### iii) h5-index
#### iv) h5-median

In [15]:
def top_publications(url):
    html = requests.get(url)
    soup = BeautifulSoup(html.content, "html.parser")
    
    
    # Extracting Rank
    ranks_df = []
    ranks = soup.findAll("td", {'class': 'gsc_mvt_p'})
    for rank in ranks:
        # print(rank.get_text()[:-1])
        ranks_df.append(rank.get_text()[:-1])
        
        
    # Extracting Publications
    Publications_df = []
    Publications = soup.findAll("td", {'class': 'gsc_mvt_t'})
    for publication in Publications:
        # print(publication.get_text())
        Publications_df.append(publication.get_text())
        
        
    # Extracting h5_index and Median
    indexes_medians_df = []
    h5_indexes = soup.findAll("td", {'class': 'gsc_mvt_n'})
    for index in h5_indexes:
        # print(index.get_text())
        indexes_medians_df.append(index.get_text())
    res = indexes_medians_df[::2] + indexes_medians_df[1::2]
    h5_medians_df = res[(len(indexes_medians_df)//2):]
    h5_indexes_df = res[:(len(indexes_medians_df)//2)]
    
    
    # Converting to Data Frame
    articles = pd.DataFrame()
    articles["Rank"] = ranks_df
    articles["Publications"] = Publications_df
    articles["h5_Index"] = h5_indexes_df
    articles["h5_Median"] = h5_medians_df

    print(articles)

In [16]:
top_publications("https://scholar.google.com/citations?view_op=top_venues&hl=en")

   Rank                                       Publications h5_Index h5_Median
0     1                                             Nature      444       667
1     2                The New England Journal of Medicine      432       780
2     3                                            Science      401       614
3     4  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5                                         The Lancet      354       635
..  ...                                                ...      ...       ...
95   96                       Journal of Business Research      145       233
96   97                                   Molecular Cancer      145       209
97   98                                            Sensors      145       201
98   99                              Nature Climate Change      144       228
99  100                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]