# 1. Write a python program to display all the header tags from wikipedia.org.

In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

def header_tags(link):
    html = urlopen(link)
    bs = BeautifulSoup(html, "html.parser")
    titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
    print(*titles, sep='\n\n')

header_tags(link="https://en.wikipedia.org/wiki/Main_Page")

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

# 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [2]:
import requests
import pandas as pd
import re

def imdb_top_100(url="https://www.imdb.com/chart/top/"):
    web_page = requests.get(url)
    web_page.content
    soup = BeautifulSoup(web_page.content, "html.parser")
    soup.prettify
    
    # Finding Movie Names
    movie_names = soup.find_all('td', class_="titleColumn")
    movies = []
    for movie in movie_names:
        movie = movie.get_text().replace("\n", "")
        movies.append(movie.strip(" "))
        
    #Movie Ratings
    all_ratings = soup.find_all('td', class_="ratingColumn imdbRating")
    ratings = []
    for rating in all_ratings:
        rating = rating.get_text().replace("\n", "")
        ratings.append(rating)
        
    # Creating data frame and extracting name, year, number
    df = pd.DataFrame()
    df['movies'] = movies
    df['ratings'] = ratings

    # Removing additional Spaces
    new_movies = []
    for i in df["movies"]:
        a = i.replace("      ", "")
        new_movies.append(a)
    # print(len(new_movies))

    # Adding New Data Frame to DF

    df["new"] = new_movies
    
    
    # Seperating Releasing Year
    release_year = []
    for i in range(0, len(df)):
        a_string = df["movies"][i]
        result = re.search(r"\(([A-Za-z0-9_]+)\)", a_string)
        release_year.append(result.group(1))
    # print(release_year)


    
    # Adding releasing year to DF
    df["Release Year"] = release_year  # Seperating release year
    df.head()
    
    
    # Deleting Existing Name from Data Frame
    # New_Movie_name added in file
    bc = []
    for i in range(0, len(df["new"])):
        in_str = str(i)
        len_of_st = len(in_str) + 1
        a = df["new"][i][len_of_st:-6]
        bc.append(a)
    df["Movie Name"] = bc
    
    
    new_df = pd.DataFrame()
    new_df.style.hide_index()
    new_df["Rank"] = [i for i in range(1, 251)]
    new_df["Movie Name"] = bc
    new_df["Year"] = release_year
    new_df["Ratings"] = ratings
    return new_df.head(100)


imdb_top_100()

C:\Users\shiva\AppData\Local\Temp\ipykernel_14568\1926710735.py:69: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  new_df.style.hide_index()

    Rank                         Movie Name  Year Ratings
0      1           The Shawshank Redemption  1994     9.2
1      2                      The Godfather  1972     9.2
2      3                    The Dark Knight  2008     9.0
3      4              The Godfather Part II  1974     9.0
4      5                       12 Angry Men  1957     8.9
..   ...                                ...   ...     ...
95    96                       Citizen Kane  1941     8.3
96    97  M - Eine Stadt sucht einen Mörder  1931     8.3
97    98                 North by Northwest  1959     8.3
98    99                       Idi i smotri  1985     8.2
99   100                           .Vertigo  1958     8.2

[100 rows x 4 columns]

# Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [3]:
imdb_top_100(url="https://www.imdb.com/india/top-rated-indian-movies/")

C:\Users\shiva\AppData\Local\Temp\ipykernel_14568\1926710735.py:69: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  new_df.style.hide_index()

    Rank                   Movie Name  Year Ratings
0      1   Rocketry: The Nambi Effect  2022     8.5
1      2                   Anbe Sivam  2003     8.4
2      3                     Jai Bhim  2021     8.4
3      4                      Nayakan  1987     8.4
4      5                      Golmaal  1979     8.4
..   ...                          ...   ...     ...
95    96                  Ustad Hotel  2012     8.0
96    97   The Legend of Bhagat Singh  2002     8.0
97    98                    Virumandi  2004     8.0
98    99  Baahubali 2: The Conclusion  2017     8.0
99   100                      .Angoor  1982     8.0

[100 rows x 4 columns]

# Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)
## From https://presidentofindia.nic.in/former-presidents.htm

In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [5]:
def presidents_info(url):
    page = requests.get(url)
    page.content
    soup = BeautifulSoup(page.content, "html.parser")
    soup.prettify
    president_name = soup.find_all('ul', class_="listing cf")

    lis = []
    new_list = []
    for ul in president_name:
        for li in ul.findAll('li'):
            if li.find('ul'):
                break
            lis.append(li)

        for li in lis:
            # print(li.text.encode("utf-8"))
            new_list.append(li.text.encode("utf-8"))
    # Extracting Names
    presidents = []
    for i in range(0, len(new_list)):
        a = str(new_list[i]).replace("\\n", "")
        leb_ = a.find("(")
        # print(a[2:leb_])
        presidents.append(a[2:leb_])
    # print(presidents)
    
    year = []
    for i in range(0, len(new_list)):
        a = str(new_list[i]).replace("\\n", "")
        start_ = a.find("(")
        end_ = a.find(")")
        # print(a[start_:end_])
        year.append(a[start_+1:end_])
    # print(year)
    
    # Extracting Terms from page
    term = []
    for para in soup.find_all("p"):
        term.append(para.get_text())
    final_term = []
    for i in range(0, len(term)):
        if term[i][:7] == "Term of":
            # print("True")
            slicing = term[i][16:-1]
            final_term.append(slicing)    

    df = pd.DataFrame()
    df["Presidents"] = presidents
    df["Life Span"] = year
    df['Term Served'] = final_term
    print(df)
    
    

url = "https://presidentofindia.nic.in/former-presidents.htm" 

presidents_info(url)

                       Presidents     Life Span  \
0           Shri Ram Nath Kovind   birth - 1945
1          Shri Pranab Mukherjee      1935-2020
2   Smt Pratibha Devisingh Patil   birth - 1934
3         DR. A.P.J. Abdul Kalam      1931-2015
4           Shri K. R. Narayanan    1920 - 2005
5        Dr Shankar Dayal Sharma      1918-1999
6            Shri R Venkataraman      1910-2009
7               Giani Zail Singh      1916-1994
8      Shri Neelam Sanjiva Reddy      1913-1996
9       Dr. Fakhruddin Ali Ahmed      1905-1977
10  Shri Varahagiri Venkata Giri      1894-1980
11              Dr. Zakir Husain      1897-1969
12  Dr. Sarvepalli Radhakrishnan      1888-1975
13           Dr. Rajendra Prasad      1884-1963

                                          Term Served
0                      25 July, 2017 to 25 July, 2022
1                      25 July, 2012 to 25 July, 2017
2                      25 July, 2007 to 25 July, 2012
3                      25 July, 2002 to 25 July, 2007
4                      25 July, 1997 to 25 July, 2002
5                      25 July, 1992 to 25 July, 1997
6                      25 July, 1987 to 25 July, 1992
7                      25 July, 1982 to 25 July, 1987
8                      25 July, 1977 to 25 July, 1982
9                 24 August, 1974 to 11 February, 197
10  3 May, 1969 to 20 July, 1969 and 24 August, 19...
11                         13 May, 1967 to 3 May, 196
12                        13 May, 1962 to 13 May, 196
13                    26 January, 1950 to 13 May, 196

# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
### a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
### b) Top 10 ODI Batsmen along with the records of their team and rating.
### c) Top 10 ODI bowlers along with the records of their team and rating.

In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

## a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [7]:
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/test"
def top_10_teams(url):
    html = requests.get(url)
    soup = BeautifulSoup(html.content, "html.parser")
    
    # Top 10 Team Names
    team_name = soup.findAll("span", {'class': 'u-hide-phablet'})
    team_name_df = []
    for name in team_name:
        # print(name.get_text())
        team_name_df.append(name.get_text())

    # Match score and Points of last 9 teams
    total_match_df = []
    total_point_df = []
    matches_and_points_df = []
    
    # Extracting total matches and points for first row, because of different class name
    matches_and_points_df = []
    matches_and_points_df.clear()
    first_ = soup.findAll("td", {'class': 'rankings-block__banner--matches'})
    second_ = soup.findAll("td", {'class': 'rankings-block__banner--points'})

    for _ in first_:
        matches_and_points_df.append(_.get_text())

    for _ in second_:
        matches_and_points_df.append(_.get_text())

    # print(total_match_df)
    # print(total_point_df)
    
    
    matches = soup.findAll("td", {'class': 'table-body__cell u-center-text'})

    for match in matches:
            # print(match.get_text())
        matches_and_points_df.append(match.get_text())
    res = matches_and_points_df[::2] + matches_and_points_df[1::2]
    total_match_df = res[(len(matches_and_points_df)//2):]
    total_point_df = res[:(len(matches_and_points_df)//2)]
    rank = [i for i in range(1, len(total_match_df)+1)]
    
    
    # Raking Ranking
    # taking rating of first column
    rating = []
    rating_first = soup.findAll("td", {'class': 'rankings-block__banner--rating u-text-right'})
    rating_rest = soup.findAll("td", {'class': 'table-body__cell u-text-right rating'})

    for _ in rating_first:
        pre_processor = _.get_text().strip()
        print(pre_processor)
        rating.append(pre_processor)
    for _ in rating_rest:
        rating.append(_.get_text())
        #if len(rating) == 10:
            # break
    # print(rating[:10])
    
    
    
    # Extracting Type of Data
    text = soup.findAll("h4")
    for _ in text:
        print(_.get_text(), '\033[1m')
    # creating data frame
    df = pd.DataFrame()
    df['Rank'] = rank
    df["Team Names"] = team_name_df
    df["Total Points"] = total_match_df
    df["Total Matchs"] = total_point_df
    # print(len(total_match_df), "and", len(rating))
    df["Rating"] = rating
    print(df.head(10))

top_10_teams("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

119
Men's ODI Team Rankings
   Rank    Team Names Total Points Total Matchs Rating
0     1       England        3,226           27    119
1     2   New Zealand        2,508           22    114
2     3         India        3,447           31    111
3     4      Pakistan        2,354           22    107
4     5     Australia        3,071           29    106
5     6  South Africa        2,111           21    101
6     7    Bangladesh        2,753           30     92
7     8     Sri Lanka        2,658           29     92
8     9   West Indies        2,902           41     71
9    10   Afghanistan        1,238           18     69

## b) Top 10 ODI Batsmen along with the records of their team and rating.

In [8]:
def top_10_players(url):
    html = requests.get(url)
    soup = BeautifulSoup(html.content, "html.parser")
    
# Creating empty lists to append data
    players_name_df = []
    player_team_df = []
    player_rating_df = []
    careers_rating_df = []
    
    
# Accessing only top player
    # Top Player Name
    top_player_name = soup.findAll("div", {'class': 'rankings-block__banner--name-large'})
    for name in top_player_name:
        # print(name.get_text())
        players_name_df.append(name.get_text())


    # Top Player team
    top_player_team = soup.findAll("div", {'class': 'rankings-block__banner--nationality'})
    for name in top_player_team:
        a = name.get_text().strip()
        # print(name.get_text())
        player_team_df.append(a)    



    # Top Player rating
    top_player_rating = soup.findAll("div", {'class': 'rankings-block__banner--rating'})
    for name in top_player_rating:
        a = name.get_text().strip()
        # print(name.get_text())
        player_rating_df.append(a)



    # Top Player career Best
    top_player_career_best = soup.findAll("span", {'class': 'rankings-block__career-best-text'})
    for name in top_player_career_best:
        a = name.get_text().strip()
        # print(name.get_text())
        careers_rating_df.append(a)    

    # print(careers_rating_df)
    
    

# Accessing Rest of the players

    # Rest of player Names
    rest_player_name = soup.findAll("td", {'class': 'table-body__cell rankings-table__name name'})
    for name in rest_player_name:
        a = name.get_text().strip()
        # print(name.get_text())
        players_name_df.append(a)


    # Rest of player Teams
    rest_player_team = soup.findAll("span", {'class': 'table-body__logo-text'})
    for name in rest_player_team:
        # print(name.get_text())
        player_team_df.append(name.get_text())


    # Rest of player rating
    rest_player_rating = soup.findAll("td", {'class': 'table-body__cell rating'})
    for name in rest_player_rating:
        # print(name.get_text())
        player_rating_df.append(name.get_text())

    # Rest of player career Best
    rest_player_career = soup.findAll("td", {'class': 'table-body__cell u-text-right u-hide-phablet'})
    for name in rest_player_career:
        a = name.get_text().strip()
        # print(name.get_text())
        careers_rating_df.append(a)
        
    # Rank
    rank = [i for i in range(1, len(players_name_df)+1)]
    
    text = soup.findAll("h4")
    for _ in text:
        print(_.get_text(), '\033[1m')

    players_df = pd.DataFrame() 
    players_df["Rank"] = rank    
    players_df["Player Name"] = players_name_df
    players_df["Team"] = player_team_df
    players_df["Rating"] = player_rating_df
    players_df["Career Best"] = careers_rating_df
    print(players_df.head(10))
    

top_10_players("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")

Men's ODI Batting Rankings
   Rank            Player Name Team Rating                    Career Best
0     1             Babar Azam  PAK    890  898 v West Indies, 10/06/2022
1     2  Rassie van der Dussen   SA    789      796 v England, 19/07/2022
2     3        Quinton de Kock   SA    784    813 v Sri Lanka, 10/03/2019
3     4            Imam-ul-Haq  PAK    779  815 v West Indies, 12/06/2022
4     5            Virat Kohli  IND    744      911 v England, 12/07/2018
5     6           Rohit Sharma  IND    740    885 v Sri Lanka, 06/07/2019
6     7         Jonny Bairstow  ENG    732        796 v India, 26/03/2021
7     8           David Warner  AUS    725     880 v Pakistan, 26/01/2017
8     9            Ross Taylor   NZ    701   841 v Bangladesh, 05/06/2019
9    10            Steve Smith  AUS    697     752 v Pakistan, 22/01/2017

## c) Top 10 ODI bowlers along with the records of their team and rating.

In [9]:
top_10_players("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

Men's ODI Bowling Rankings
   Rank       Player Name Team Rating                    Career Best
0     1       Trent Boult   NZ    775    775 v Australia, 11/09/2022
1     2    Josh Hazlewood  AUS    718      733 v England, 26/01/2018
2     3  Mujeeb Ur Rahman  AFG    676      712 v Ireland, 24/01/2021
3     4    Jasprit Bumrah  IND    662  841 v West Indies, 01/11/2018
4     5    Shaheen Afridi  PAK    661  688 v West Indies, 10/06/2022
5     6     Mohammad Nabi  AFG    657     657 v Zimbabwe, 09/06/2022
6     7      Mehedi Hasan  BAN    655    725 v Sri Lanka, 25/05/2021
7     8        Matt Henry   NZ    654   691 v Bangladesh, 26/03/2021
8     9    Mitchell Starc  AUS    653  783 v New Zealand, 29/03/2015
9    10       Rashid Khan  AFG    651     806 v Pakistan, 21/09/2018

# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
### b) Top 10 women’s ODI Batting players along with the records of their team and rating.
### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

## a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [10]:
top_10_teams("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

167
Women's ODI Rankings
   Rank    Team Names Total Points Total Matchs Rating
0     1     Australia        4,837           29    167
1     2       England        4,097           34    121
2     3  South Africa        4,157           35    119
3     4         India        3,392           33    103
4     5   New Zealand        3,161           32     99
5     6   West Indies        2,815           31     91
6     7    Bangladesh          930           12     78
7     8      Pakistan        1,962           30     65
8     9       Ireland          516           11     47
9    10     Sri Lanka          495           11     45

## b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [11]:
top_10_players("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")

Women's ODI Batting Rankings
   Rank          Player Name Team Rating                     Career Best
0     1         Alyssa Healy  AUS    785       785 v England, 03/04/2022
1     2          Beth Mooney  AUS    749       748 v England, 03/04/2022
2     3       Natalie Sciver  ENG    740  755 v South Africa, 15/07/2022
3     4      Laura Wolvaardt   SA    732     741 v Australia, 22/03/2022
4     5          Meg Lanning  AUS    710   834 v New Zealand, 24/02/2016
5     6       Rachael Haynes  AUS    701   713 v West Indies, 15/03/2022
6     7      Smriti Mandhana  IND    698       797 v England, 28/02/2019
7     8    Amy Satterthwaite   NZ    681     756 v Australia, 02/03/2017
8     9     Harmanpreet Kaur  IND    662  679 v South Africa, 28/11/2014
9    10  Chamari Athapaththu   SL    655  691 v South Africa, 14/02/2019

## c) Top 10 women’s ODI all-rounder along with the records of their team and rating.¶

In [12]:
top_10_players("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

Women's ODI All-Rounder Rankings
   Rank        Player Name Team Rating                     Career Best
0     1       Ellyse Perry  AUS    374   548 v West Indies, 11/09/2019
1     2     Natalie Sciver  ENG    372  395 v South Africa, 11/07/2022
2     3     Marizanne Kapp   SA    349   419 v West Indies, 10/09/2021
3     4    Hayley Matthews   WI    339         365 v India, 12/03/2022
4     5        Amelia Kerr   NZ    336  339 v South Africa, 17/03/2022
5     6      Deepti Sharma  IND    271  397 v South Africa, 09/10/2019
6     7   Ashleigh Gardner  AUS    270   279 v West Indies, 30/03/2022
7     8      Jess Jonassen  AUS    246   308 v West Indies, 11/09/2019
8     9     Jhulan Goswami  IND    219     308 v Australia, 02/02/2016
9    10  Sophie Ecclestone  ENG    217  217 v South Africa, 31/03/2022