In [1]:
import pandas as pd
import numpy as np

import seaborn as sns

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.metrics import classification_report
import re

import string

In [2]:
data_fake = pd.read_csv('Fake.csv')
data_true = pd.read_csv('True.csv')

In [3]:
data_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
data_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
data_fake['class'] = 0
data_true['class'] = 1

In [6]:
data_fake.shape

(23481, 5)

In [7]:
data_true.shape

(21417, 5)

In [8]:
data_fake_manual_testing = data_fake.tail(10)
for i in range(23480, 23470, -1):
    data_fake.drop([i], axis = 0, inplace = True)

data_true_manual_testing = data_true.tail(10)
for i in range(21416, 21406, -1):
    data_true.drop([i], axis = 0, inplace = True)

In [9]:
data_fake.shape, data_true.shape

((23471, 5), (21407, 5))

In [10]:
data_fake_manual_testing['class'] = 0
data_true_manual_testing['class'] = 1

C:\Users\shiva\AppData\Local\Temp\ipykernel_11772\277247672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_fake_manual_testing['class'] = 0
C:\Users\shiva\AppData\Local\Temp\ipykernel_11772\277247672.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_true_manual_testing['class'] = 1

In [11]:
data_fake_manual_testing.head()

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0

In [12]:
data_true_manual_testing.head()

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1

In [13]:
data_merge = pd.concat([data_fake, data_true], axis=0)
data_merge.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [14]:
data_merge.reset_index(inplace=True)

In [15]:
data_merge.head()

,index,title,text,subject,date,class
0,0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [16]:
data_merge.columns

Index(['index', 'title', 'text', 'subject', 'date', 'class'], dtype='object')

In [17]:
data = data_merge.drop(['title', 'subject', 'date'], axis=1)

In [18]:
data.isnull().sum()

index    0
text     0
class    0
dtype: int64

In [19]:
data = data.sample(frac=1)
data.head()

       index                                               text  class
40688  17217  GENEVA (Reuters) - Children are starving to de...      1
19573  19573  The President who shoved his radical agenda do...      0
31168   7697  WASHINGTON (Reuters) - The United States has r...      1
15816  15816  Because there wouldn t be any outrage over a  ...      0
13710  13710  Does anyone else see a little crazy in this wo...      0

In [20]:
data.reset_index(inplace = True)
data.drop(['index'], axis = 1, inplace = True)

In [21]:
def wordopt(text) :

    text = text.lower()

    text = re.sub('\[.*?/]', '', text)

    text = re.sub("\\W", "", text)

    text = re.sub("https?://\S+|www\.\S+", '', text)

    text = re.sub("<.*?>+", '', text)

    text = re.sub("[%s]" % re.escape(string.punctuation), "", text)
    text = re.sub("\n", '', text)

    text = re.sub("\w*\d\w*", '', text)

    return text

In [22]:
data['text'] = data['text'].apply(wordopt)

In [23]:
x = data['text']
y = data['class']

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer


vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [26]:
from sklearn.linear_model import LogisticRegression

In [27]:
LR = LogisticRegression()

In [28]:
xv_train.shape, y_train.shape

((33658, 5524), (33658,))

In [29]:
LR.fit(xv_train, y_train)

LogisticRegression()

In [30]:
pred_lr = LR.predict(xv_test)

In [31]:
LR.score(xv_test, y_test)

0.5240641711229946

In [32]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.52      1.00      0.69      5824
           1       1.00      0.01      0.02      5396

    accuracy                           0.52     11220
   macro avg       0.76      0.51      0.35     11220
weighted avg       0.75      0.52      0.37     11220

In [33]:
from sklearn.tree import DecisionTreeClassifier

In [34]:
DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

DecisionTreeClassifier()

In [35]:
pred_DT = DT.predict(xv_test)

In [36]:
DT.score(xv_test, y_test)

0.5240641711229946

In [37]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.52      1.00      0.69      5824
           1       1.00      0.01      0.02      5396

    accuracy                           0.52     11220
   macro avg       0.76      0.51      0.35     11220
weighted avg       0.75      0.52      0.37     11220

In [38]:
from sklearn.tree import DecisionTreeClassifier

In [39]:
DT = DecisionTreeClassifier()

In [40]:
DT.fit(xv_train, y_train)

DecisionTreeClassifier()

In [41]:
pred_DT = DT.predict(xv_test)

In [42]:
DT.score(xv_test, y_test)

0.5240641711229946

In [43]:
from sklearn.ensemble import GradientBoostingClassifier

In [44]:
GB = GradientBoostingClassifier()

In [45]:
GB.fit(xv_train, y_train)
pred_GB = GB.predict(xv_test)

In [46]:
GB.score(xv_test, y_test)

0.5191622103386809