In [1]:
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver
import requests
import time
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
   - Rank
   - Name
   - Artist
   - Upload date
   - Views

In [5]:
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver=webdriver.Chrome(r'C:/chrome_driver/chromedriver.exe')
driver.get(url)

C:\Users\shiva\AppData\Local\Temp\ipykernel_12000\2355191442.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:/chrome_driver/chromedriver.exe')

In [8]:
name=[]
try:
    names=driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('No details available')
except StaleElementReferenceException:
    name.append('No details available')
print(len(name))

30

In [9]:
rank=[]
try:
    ranks=driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('No details available')
except StaleElementReferenceException:
    rank.append('No details available')
print(len(rank))

30

In [10]:
artist=[]
try:
    artists=driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('No details available')
except StaleElementReferenceException:
    artist.append('No details available')
print(len(artist))

30

In [11]:
views=[]
try:
    views_list=driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views_list:
        views.append(i.text)
except NoSuchElementException:
    views.append('No details available')
except StaleElementReferenceException:
    views.append('No details available')
print(len(views))

30

In [12]:
upload_date=[]
try:
    upload_date_list=driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date_list:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append('No details available')
except StaleElementReferenceException:
    upload_date.append('No details available')
print(len(upload_date))

30

In [14]:
df=pd.DataFrame({"Rank":rank,
                 "Name":name,
                "Uploader/artist":artist,
                "Date of upload":upload_date,
                "Views(in billion)":views})

df.to_csv("top_30_videos",index=False)
df

,Rank,Name,Uploader/artist,Date of upload,Views(in billion)
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.62
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",7.99
2,3.,"""Johny Johny Yes Papa""[13]",LooLoo Kids,"October 8, 2016",6.51
3,4.,"""Shape of You""[14]",Ed Sheeran,"January 30, 2017",5.84
4,5.,"""Bath Song""[16]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.69
5,6.,"""See You Again""[17]",Wiz Khalifa,"April 6, 2015",5.68
6,7.,"""Phonics Song with Two Words""[22]",ChuChu TV,"March 6, 2014",4.96
7,8.,"""Uptown Funk""[23]",Mark Ronson,"November 19, 2014",4.73
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[24]",Miroshka TV,"February 27, 2018",4.69
9,10.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.58
10,11.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""[31]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.50
12,13.,"""Dame Tu Cosita""[32]",El Chombo,"April 5, 2018",4.11
13,14.,"""Sugar""[33]",Maroon 5,"January 14, 2015",3.77
14,15.,"""Roar""[34]",Katy Perry,"September 5, 2013",3.67
15,16.,"""Counting Stars""[35]",OneRepublic,"May 31, 2013",3.67
16,17.,"""Sorry""[36]",Justin Bieber,"October 22, 2015",3.60
17,18.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.56
18,18.,"""Thinking Out Loud""[38]",Ed Sheeran,"October 7, 2014",3.51
19,20.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.41
20,21.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.37
21,22.,"""Faded""[41]",Alan Walker,"December 3, 2015",3.36
22,23.,"""Girls Like You""[42]",Maroon 5,"May 31, 2018",3.34
23,24.,"""Let Her Go""[43]",Passenger,"July 25, 2012",3.32
24,25.,"""Bailando""[44]",Enrique Iglesias,"April 11, 2014",3.29
25,26.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.28
26,27.,"""Lean On""[46]",Major Lazer,"March 22, 2015",3.28
27,28.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.27
28,29.,"""Shake It Off""[48]",Taylor Swift,"August 18, 2014",3.22
29,30.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.19

### 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
   - Match title (I.e. 1st ODI)
   - Series
   - Place
   - Date
   - Time
- From bcci.tv home page you have reach to the international fixture page through code.

In [18]:
url="https://www.bcci.tv/"
driver=webdriver.Chrome(r'C:/chrome_driver/chromedriver.exe')
driver.get(url)

C:\Users\shiva\AppData\Local\Temp\ipykernel_12000\3099463719.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:/chrome_driver/chromedriver.exe')

In [21]:
fixtures=driver.find_element(By.XPATH, '//a[@class="moreMatchesLink"]')
try:
    fixtures.click()
except ElementNotInteractableException:
    driver.get(fixtures.get_attribute('href'))

In [27]:
match_title=[]
match_page=driver.find_elements(By.XPATH, '//h5[@class="fix-text"]')
for i in match_page:
    match_title.append(i.text)

In [36]:
place=[]
place_page=driver.find_elements(By.XPATH, '//div[@class="fix-place ng-binding ng-scope"]')
for i in place_page:
    place.append(i.text)

In [40]:
date=[]
date_page=driver.find_elements(By.XPATH, '//div[@class="match-card-left match-schedule"]')
for i in date_page:
    date.append(i.text)

In [42]:
time=[]
time_page=driver.find_elements(By.XPATH, '//div[@class="match-card-right match-schedule "]')
for i in time_page:
    time.append(i.text)

In [43]:
time

['1:30 PM IST',
 '12:00 PM IST',
 '12:00 PM IST',
 '12:00 PM IST',
 '7:00 AM IST',
 '7:00 AM IST',
 '7:00 AM IST',
 '12:30 PM IST']

### 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [2]:
url="https://www.guru99.com/"
driver=webdriver.Chrome(r'C:/chrome_driver/chromedriver.exe')
driver.get(url)

C:\Users\shiva\AppData\Local\Temp\ipykernel_14532\4177005740.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:/chrome_driver/chromedriver.exe')

In [3]:
first_click = driver.find_element(By.XPATH, '//*[@id="kt-info-box_eaeb48-11"]/a/div[1]/div/div/div/span')
first_click.click()

In [4]:
second_click = driver.find_element(By.XPATH, '//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a')
second_click.click()

In [9]:
'''exceptions = []
excep = driver.find_elements(By.TAG_NAME, 'strong')
for i in excep:
    exceptions.append(i.text)'''

"exceptions = []\nexcep = driver.find_elements(By.TAG_NAME, 'strong')\nfor i in excep:\n    exceptions.append(i.text)"

In [26]:
text = []
text_elements = driver.find_elements(By.TAG_NAME, 'p')
for i in text_elements:
    text.append(i.text)

In [28]:
name = []
description = []
for i in text[2:42]:
    a = text[2].split(':')
    name.append(a[0])
    description.append(a[1])

In [31]:
print(len(text))
print(len(description))

58
40

In [32]:
df=pd.DataFrame({"Exception_name":text[:40],
                "Description":description[:40]})
df

,Exception_name,Description
0,An exception is an error that happens at the t...,This type of Selenium exception occurs when a...
1,"The exception indicates that, although the eve...",This type of Selenium exception occurs when a...
2,1. ElementNotVisibleException: This type of Se...,This type of Selenium exception occurs when a...
3,2. ElementNotSelectableException: This Seleniu...,This type of Selenium exception occurs when a...
4,3. NoSuchElementException: This Exception occu...,This type of Selenium exception occurs when a...
5,4. NoSuchFrameException: This Exception occurs...,This type of Selenium exception occurs when a...
6,5. NoAlertPresentException: This Exception occ...,This type of Selenium exception occurs when a...
7,6. NoSuchWindowException: This Exception occur...,This type of Selenium exception occurs when a...
8,7. StaleElementReferenceException: This Seleni...,This type of Selenium exception occurs when a...
9,8. SessionNotFoundException: The WebDriver is ...,This type of Selenium exception occurs when a...
10,9. TimeoutException: Thrown when there is not ...,This type of Selenium exception occurs when a...
11,10. WebDriverException: This Exception takes p...,This type of Selenium exception occurs when a...
12,11. ConnectionClosedException: This type of Ex...,This type of Selenium exception occurs when a...
13,12. ElementClickInterceptedException: The comm...,This type of Selenium exception occurs when a...
14,13. ElementNotInteractableException: This Sele...,This type of Selenium exception occurs when a...
15,14. ErrorInResponseException: This happens whi...,This type of Selenium exception occurs when a...
16,15. ErrorHandler.UnknownServerException: Excep...,This type of Selenium exception occurs when a...
17,16. ImeActivationFailedException: This expecta...,This type of Selenium exception occurs when a...
18,17. ImeNotAvailableException: It takes place w...,This type of Selenium exception occurs when a...
19,18. InsecureCertificateException: Navigation m...,This type of Selenium exception occurs when a...
20,19. InvalidArgumentException: It occurs when a...,This type of Selenium exception occurs when a...
21,20. InvalidCookieDomainException: This happens...,This type of Selenium exception occurs when a...
22,21. InvalidCoordinatesException: This type of ...,This type of Selenium exception occurs when a...
23,22. InvalidElementStateException: It occurs wh...,This type of Selenium exception occurs when a...
24,23. InvalidSessionIdException: This Exception ...,This type of Selenium exception occurs when a...
25,24. InvalidSwitchToTargetException: This occur...,This type of Selenium exception occurs when a...
26,25. JavascriptException: This issue occurs whi...,This type of Selenium exception occurs when a...
27,26. JsonException: It occurs when you afford t...,This type of Selenium exception occurs when a...
28,27. NoSuchAttributeException: This kind of Exc...,This type of Selenium exception occurs when a...
29,28. MoveTargetOutOfBoundsException: It takes p...,This type of Selenium exception occurs when a...
30,29. NoSuchContextException: ContextAware does ...,This type of Selenium exception occurs when a...
31,30. NoSuchCookieException: This Exception occu...,This type of Selenium exception occurs when a...
32,31. NotFoundException: This Exception is a sub...,This type of Selenium exception occurs when a...
33,32. RemoteDriverServerException: This Selenium...,This type of Selenium exception occurs when a...
34,33. ScreenshotException: It is not possible to...,This type of Selenium exception occurs when a...
35,34. SessionNotCreatedException: It happens whe...,This type of Selenium exception occurs when a...
36,35. UnableToSetCookieException: This occurs if...,This type of Selenium exception occurs when a...
37,36. UnexpectedTagNameException: Happens if a s...,This type of Selenium exception occurs when a...
38,37. UnhandledAlertException: This expectation ...,This type of Selenium exception occurs when a...
39,38. UnexpectedAlertPresentException: It occurs...,This type of Selenium exception occurs when a...

### 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
   - Rank
   - State
   - GSDP(18-19)
   - GSDP(17-18)
   - Share(2017)
   - GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [46]:
url="https://www.statisticstimes.com/economy/india/indian-states-gdp.php"
driver=webdriver.Chrome(r'C:/chrome_driver/chromedriver.exe')
driver.get(url)

C:\Users\shiva\AppData\Local\Temp\ipykernel_14532\842088449.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:/chrome_driver/chromedriver.exe')

In [36]:
economy=driver.find_element(By.XPATH, "//div[@class='dropdown'][2]/div/a[2]")

In [37]:
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))

In [60]:
rank=[]
try:
    ranks=driver.find_elements(By.XPATH, '//td[@class="data1"]')
    for i in ranks[:33]:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('No details available')
print(len(rank))

33

In [61]:
State=[]
try:
    states=driver.find_elements(By.XPATH, '//td[@class="name"]')
    for i in states[:33]:
        State.append(i.text)
except NoSuchElementException:
    State.append('No details available')
print(len(State))

33

In [67]:
GSDP_19_20=[]
try:
    info=driver.find_elements(By.XPATH, '//td[@class="data"]')
    for i in info:
        GSDP_19_20.append(i.text)
except NoSuchElementException:
    GSDP_19_20.append('No details available')
print((GSDP_19_20))

['-', '13.94%', '399.921', '-', '2,039,074', '1,845,853', '8.63%', '247.629', '1,312,929', '1,215,307', '1,687,818', '8.39%', '240.726', '1,166,817', '1,123,982', '-', '7.96%', '228.290', '-', '1,186,379', '1,631,977', '7.91%', '226.806', '1,156,039', '1,091,077', '1,253,832', '5.77%', '165.556', '793,223', '739,525', '1,020,989', '4.99%', '143.179', '711,627', '677,428', '972,782', '4.57%', '131.083', '672,018', '621,301', '969,604', '4.56%', '130.791', '663,258', '612,828', '906,672', '4.29%', '122.977', '561,801', '522,009', '-', '4.14%', '118.733', '-', '559,412', '856,112', '4.10%', '117.703', '634,408', '590,569', '831,610', '3.89%', '111.519', '572,240', '531,085', '611,804', '2.81%', '80.562', '414,977', '375,651', '574,760', '2.79%', '79.957', '418,868', '397,669', '521,275', '2.58%', '74.098', '396,499', '376,877', '-', '1.67%', '47.982', '-', '234,048', '329,180', '1.61%', '46.187', '243,477', '231,182', '328,598', '1.57%', '45.145', '240,036', '224,986', '-', '1.30%', '37.351', '-', '193,273', '-', '0.83%', '23.690', '-', '112,755', '165,472', '0.81%', '23.369', '124,403', '117,851', '80,449', '0.39%', '11.115', '63,408', '57,787', '55,984', '0.26%', '7.571', '40,583', '36,963', '-', '0.22%', '6.397', '-', '31,192', '38,253', '0.18%', '5.230', '25,093', '23,013', '36,572', '0.18%', '5.086', '26,695', '24,682', '32,496', '0.15%', '4.363', '20,017', '18,722', '31,790', '0.15%', '4.233', '20,673', '19,300', '-', '0.14%', '4.144', '-', '17,647', '-', '0.13%', '3.737', '-', '16,676', '26,503', '0.12%', '3.385', '18,797', '16,478', '-', '-', '-', '-', '-', '20,351,013', '18,886,957', '', '2,869', '14,569,268', '14,003,316', '-', '13.97%', '-', '1,794,123', '1,659,210', '8.77%', '1,167,776', '1,079,894', '1,495,758', '8.41%', '1,015,735', '979,159', '1,476,983', '8.09%', '1,035,131', '976,948', '-', '7.92%', '-', '1,036,859', '1,150,711', '5.96%', '713,376', '662,432', '916,014', '5.06%', '630,693', '600,433', '881,873', '4.68%', '594,806', '549,481', '875,429', '4.65%', '595,605', '550,584', '827,019', '4.41%', '496,798', '461,903', '-', '4.24%', '-', '513,322', '779,647', '4.22%', '568,265', '529,739', '755,790', '3.99%', '514,983', '477,834', '562,710', '2.91%', '377,276', '340,512', '517,521', '2.83%', '374,015', '354,830', '457,757', '2.56%', '344,437', '327,805', '-', '1.69%', '-', '207,193', '301,242', '1.63%', '218,232', '204,423', '288,041', '1.60%', '210,837', '200,453', '-', '1.33%', '-', '173,211', '143,063', '0.80%', '107,171', '101,534', '-', '0.78%', '-', '91,666', '72,181', '0.40%', '56,810', '51,878', '50,227', '0.27%', '35,980', '32,830', '-', '0.22%', '-', '27,565', '34,823', '0.19%', '22,291', '20,534', '32,833', '0.18%', '23,564', '21,779', '29,148', '0.15%', '18,549', '17,228', '28,391', '0.15%', '17,060', '15,972', '-', '0.15%', '-', '15,381', '-', '0.13%', '-', '15,013', '24,424', '0.13%', '17,797', '15,372', '-', '-', '-', '-', '17,994,301', '16,704,645', '', '12,681,246', '12,240,380']

In [63]:
GSDP_18_19=[]
try:
    info=driver.find_elements(By.XPATH, '//td[@class="data sorting_1"]')
    for i in info[:33]:
        GSDP_18_19.append(i.text)
except NoSuchElementException:
    GSDP_18_19.append('No details available')
print(len(GSDP_18_19))

33

In [64]:
share=[]
try:
    info=driver.find_elements(By.XPATH, '//td[@class="data"]')
    for i in info[:33]:
        share.append(i.text)
except NoSuchElementException:
    share.append('No details available')
print(len(share))

33

In [65]:
GDP_billion=[]
try:
    info=driver.find_elements(By.XPATH, '//td[@class="data"]')
    for i in info[:33]:
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append('No details available')
print(len(GDP_billion))

33

In [66]:
df=pd.DataFrame({'Rank':rank,
                'State':State,
                'GSDP(18-19)':GSDP_19_20,
                'GSDP(17-18)':GSDP_18_19,
                'Share_2017':share,
                'GDP(Billion_$)':GDP_billion})
print(df)

   Rank                      State GSDP(18-19) GSDP(17-18) Share_2017  \
0     1                Maharashtra           -   2,632,792          -
1     2                 Tamil Nadu      13.94%   1,630,208     13.94%
2     3              Uttar Pradesh     399.921   1,584,764    399.921
3     4                    Gujarat           -   1,502,899          -
4     5                  Karnataka   2,039,074   1,493,127  2,039,074
5     6                West Bengal   1,845,853   1,089,898  1,845,853
6     7                  Rajasthan       8.63%     942,586      8.63%
7     8             Andhra Pradesh     247.629     862,957    247.629
8     9                  Telangana   1,312,929     861,031  1,312,929
9    10             Madhya Pradesh   1,215,307     809,592  1,215,307
10   11                     Kerala   1,687,818     781,653  1,687,818
11   12                      Delhi       8.39%     774,870      8.39%
12   13                    Haryana     240.726     734,163    240.726
13   14                      Bihar   1,166,817     530,363  1,166,817
14   15                     Punjab   1,123,982     526,376  1,123,982
15   16                     Odisha           -     487,805          -
16   17                      Assam       7.96%     315,881      7.96%
17   18               Chhattisgarh     228.290     304,063    228.290
18   19                  Jharkhand           -     297,204          -
19   20                Uttarakhand   1,186,379     245,895  1,186,379
20   21            Jammu & Kashmir   1,631,977     155,956  1,631,977
21   22           Himachal Pradesh       7.91%     153,845      7.91%
22   23                        Goa     226.806      73,170    226.806
23   24                    Tripura   1,156,039      49,845  1,156,039
24   25                 Chandigarh   1,091,077      42,114  1,091,077
25   26                 Puducherry   1,253,832      34,433  1,253,832
26   27                  Meghalaya       5.77%      33,481      5.77%
27   28                     Sikkim     165.556      28,723    165.556
28   29                    Manipur     793,223      27,870    793,223
29   30                   Nagaland     739,525      27,283    739,525
30   31          Arunachal Pradesh   1,020,989      24,603  1,020,989
31   32                    Mizoram       4.99%      22,287      4.99%
32   33  Andaman & Nicobar Islands     143.179           -    143.179

   GDP(Billion_$)
0               -
1          13.94%
2         399.921
3               -
4       2,039,074
5       1,845,853
6           8.63%
7         247.629
8       1,312,929
9       1,215,307
10      1,687,818
11          8.39%
12        240.726
13      1,166,817
14      1,123,982
15              -
16          7.96%
17        228.290
18              -
19      1,186,379
20      1,631,977
21          7.91%
22        226.806
23      1,156,039
24      1,091,077
25      1,253,832
26          5.77%
27        165.556
28        793,223
29        739,525
30      1,020,989
31          4.99%
32        143.179

### Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [97]:
url="https://github.com/trending"
driver=webdriver.Chrome(r'C:/chrome_driver/chromedriver.exe')
driver.get(url)

C:\Users\shiva\AppData\Local\Temp\ipykernel_14532\1881645198.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:/chrome_driver/chromedriver.exe')

In [98]:
repo_title=[]
try:
    repos=driver.find_elements(By.XPATH, '//h1[@class="h3 lh-condensed"]')
    for i in repos:
        repo_title.append(i.text)
except NoSuchElementException:
    repo_title.append('No details available')
print(len(repo_title))

25

In [99]:
repo_desc=[]
try:
    descriptions=driver.find_elements(By.XPATH, '//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in descriptions:
        repo_desc.append(i.text)
except NoSuchElementException:
    repo_desc.append('No details available')
print(len(repo_desc))

25

In [117]:
repo_urls=[]
repos=driver.find_elements(By.XPATH, '//h1[@class="h3 lh-condensed"]')
for i in repos:
    repo_urls.append(i.get_attribute('href'))
print(len(repo_urls))

25

In [118]:
repo_lang=[]
try:
    descriptions=driver.find_elements(By.XPATH, '//span[@class="repo-language-color"]')
    for i in descriptions:
        repo_lang.append(i.text)
except NoSuchElementException:
    repo_lang.append('No details available')
print(len(repo_lang))

24

In [114]:
print(len(Contributors_count))

0

In [ ]:
df=pd.DataFrame({'Title':repo_title[:23],
                'Description':repo_desc[:23],
                'Language_used':Language_used[:23], 
                'URL': repo_urls[:23]})
print(df)

## 6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
 - Song name
 - Artist name
 - Last week rank
 - Peak rank
 - Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [121]:
url="https://www.billboard.com/"
driver=webdriver.Chrome(r'C:/chrome_driver/chromedriver.exe')
driver.get(url)

C:\Users\shiva\AppData\Local\Temp\ipykernel_14532\2503263766.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:/chrome_driver/chromedriver.exe')

In [123]:
charts=driver.find_element(By.XPATH, '//*[@id="main-wrapper"]/main/div[2]/div[1]/div[1]/div[1]/div[2]/div/div[2]/a[1]')
try:
    charts.click()
except ElementNotInteractableException:
    driver.get(charts.get_attribute('href'))

In [126]:
song_name=[]
try:
    names=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
    for i in names:
        song_name.append(i.text)
except NoSuchElementException:
    song_name.append('No details available')
print(len(song_name))

199

In [128]:
artist_name=[]
try:
    names=driver.find_elements(By.XPATH, '//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
    for i in names:
        artist_name.append(i.text)
except NoSuchElementException:
    artist_name.append('No details available')
print(len(artist_name))

199

In [129]:
last_rank=[]
try:
    names=driver.find_elements(By.XPATH, '//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
    for i in names:
        last_rank.append(i.text)
except NoSuchElementException:
    last_rank.append('No details available')
print(len(last_rank))

400

In [131]:
week_on_Chart = last_rank[1::2] # Elements from list1 starting from 1 iterating by 2
last_week = last_rank[::2] # Elements from list1 starting from 0 iterating by 2

In [132]:
peak_rank=[]
try:
    names=driver.find_elements(By.XPATH, '//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]')
    for i in names:
        peak_rank.append(i.text)
except NoSuchElementException:
    peak_rank.append('No details available')
print(len(peak_rank))

400

In [133]:
peak_pos = peak_rank[1::2] # Elements from list1 starting from 1 iterating by 2
award = peak_rank[::2] # Elements from list1 starting from 0 iterating by 2

In [135]:
df=pd.DataFrame({'Song_Name':song_name[:100],
                'Artist_Name':artist_name[:100],
                'Last_week_rank':last_week[:100],
                'Peak':peak_pos[:100],
                'Weeks_on_chart':week_on_Chart[:100]})
df

,Song_Name,Artist_Name,Last_week_rank,Peak,Weeks_on_chart
0,It's Only Me,Lil Baby,-,1,1
1,Un Verano Sin Ti,Bad Bunny,1,1,2
2,Dangerous: The Double Album,Morgan Wallen,2,1,25
3,The Highlights,The Weeknd,4,1,94
4,The Car,Arctic Monkeys,5,2,89
...,...,...,...,...,...
95,Fighting Demons,Juice WRLD,50,10,9
96,IGOR,"Tyler, The Creator",95,2,46
97,The Essential Michael Jackson,Michael Jackson,85,1,159
98,Born Pink,BLACKPINK,99,31,409
99,Views,Drake,68,1,6

## 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [136]:
# Loading Chrome Driver
driver = webdriver.Chrome("C:/chrome_driver/chromedriver.exe")

C:\Users\shiva\AppData\Local\Temp\ipykernel_14532\1058825279.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("C:/chrome_driver/chromedriver.exe")

In [137]:
# opening web address in chrome driver browser to access html, css information
driver.get('https://www.naukri.com/')

In [138]:
# Finding "Search Bar" for designation with the help of class name and passing "Data Analyst" string as arguement  
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Analyst')

In [139]:
# Finding "Search Bar" for location with the help of XPATH and passing "Banglaore" string as arguement  
locations = driver.find_element(By.XPATH, '//*[@id="root"]/div[6]/div/div/div[5]/div/div/div/input')
locations.send_keys('Banglaore')

In [140]:
# Finding "Button" for submitting user input, with the help of class name and passing clicking on it to search  
search = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()

In [141]:
# Creating empty lists to append data in list
job_title1 = []
job_location1 = []
company_name1 = []
experiance_required1 = []

# Getting title tags
title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')

# Looping through each tag to get job title, from web element and appending each element to job_title1
for i in title_tags[0:10]:
    title = i.text
    job_title1.append(title)
    
# Getting location tags
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')

# Looping through each tag to get job location, from web element and appending each element to job_location1
for i in location_tags[0:10]:
    location = i.text
    job_location1.append(location)
    
# Getting company name tags    
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
# Looping through each tag to get company name, from web element and appending each element to company_name1
for i in company_tags[0:10]:
    company = i.text
    company_name1.append(company)

# Getting experiance required tags     
experiance_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')

# Looping through each tag to get experiance required, from web element and appending each element to experiance_required1
for i in experiance_tags[0:10]:
    experiance = i.text
    experiance_required1.append(experiance)

In [142]:
# Creating Data Frame to export/process extracted information
df = pd.DataFrame()

# Creating columns, and assigning values from lists
df["Title"] = job_title1
df["Job_location"] = job_location1
df["Company_Name"] = company_name1
df["Experiance Required"] = experiance_required1

In [143]:
print("Job Roles For Data Analyst in Bangalore")
df

Job Roles For Data Analyst in Bangalore

,Title,Job_location,Company_Name,Experiance Required
0,Senior Data Analyst - PLM Data Migration,Bangalore/Bengaluru,CGI,3-6 Yrs
1,Associate Healthcare Research & Data Analyst,Bangalore/Bengaluru,Clarivate,3-4 Yrs
2,Lead Data Analyst,Bangalore/Bengaluru,Mobile Premier League (MPL),4-7 Yrs
3,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
4,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
5,Data Analyst,Bangalore/Bengaluru,Elasticsearch,2-5 Yrs
6,Sr. Data Analyst (SAS Data Management),"New Delhi, Bangalore/Bengaluru",NMS Consultant,5-10 Yrs
7,Data Analyst,Bangalore/Bengaluru,IBM,3-4 Yrs
8,Data Analyst,Bangalore/Bengaluru,IBM,3-4 Yrs
9,Lead Data Management Analyst,"Chennai, Bangalore/Bengaluru",Wells Fargo,5-8 Yrs

## 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:
 - Book name
 - Author name
 - Volumes sold
 - Publisher
 - Genre

In [144]:
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/"
driver=webdriver.Chrome(r'C:/chrome_driver/chromedriver.exe')
driver.get(url)

C:\Users\shiva\AppData\Local\Temp\ipykernel_14532\2715695504.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:/chrome_driver/chromedriver.exe')

In [145]:
book_name=[]
try:
    names=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in names:
        book_name.append(i.text)
except NoSuchElementException:
    book_name.append('No details available')
print(len(book_name))

0

In [146]:
author_name=[]
try:
    names=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in names:
        author_name.append(i.text)
except NoSuchElementException:
    author_name.append('No details available')

print(len(author_name))

0

In [147]:
author_name=[]
try:
    names=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in names:
        author_name.append(i.text)
except NoSuchElementException:
    author_name.append('No details available')

print(len(author_name))

0

In [148]:
publisher=[]
try:
    publishers=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in publishers:
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('No details available')

print(len(publisher))

0

In [149]:
genre=[]
try:
    genres=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:#handling no such element exception
    genre.append('No details available')

print(len(genre))

0

In [ ]:
#creating dataframe
df=pd.DataFrame({"Book_name":book_name,
                "Author_name":author_name,
                'Volume sold':Sale,
                'Publisher':publisher,
                'Genre':genre})
print(df)

### 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
- Name
- Year span
- Genre
- Run time
- Ratings
- Votes

In [152]:
import re

In [153]:
def imdb_top_100(url="https://www.imdb.com/chart/top/"):  # Defining function
    
    html = requests.get(url)
    html.content
    soup = BeautifulSoup(html.content, "html.parser")
    soup.prettify
    
    # Finding Movie Names
    movie_names = soup.find_all('td', class_="titleColumn")
    movies = []
    for movie in movie_names:
        movie = movie.get_text().replace("\n", "")
        movies.append(movie.strip(" "))
        
    #Movie Ratings
    all_ratings = soup.find_all('td', class_="ratingColumn imdbRating")
    ratings = []
    for rating in all_ratings:
        rating = rating.get_text().replace("\n", "")
        ratings.append(rating)
        
    # Creating data frame and extracting name, year, number
    df = pd.DataFrame()
    df['movies'] = movies
    df['ratings'] = ratings

    # Removing additional Spaces
    new_movies = []
    for i in df["movies"]:
        a = i.replace("      ", "")
        new_movies.append(a)
    # print(len(new_movies))

    # Adding New Data Frame to DF

    df["new"] = new_movies
    
    
    # Seperating Releasing Year
    release_year = []
    for i in range(0, len(df)):
        a_string = df["movies"][i]
        result = re.search(r"\(([A-Za-z0-9_]+)\)", a_string)
        release_year.append(result.group(1))
    # print(release_year)


    
    # Adding releasing year to DF
    df["Release Year"] = release_year  # Seperating release year
    df.head()
    
    
    # Deleting Existing Name from Data Frame
    # New_Movie_name added in file
    movie_name = []
    for i in range(0, len(df["new"])):
        in_str = str(i)
        len_of_st = len(in_str) + 1
        a = df["new"][i][len_of_st:-6]
        movie_name.append(a)
    df["Movie Name"] = movie_name
    
    
    new_df = pd.DataFrame()
    # new_df.style.hide_index()
    new_df["Rank"] = [i for i in range(1, 251)]
    new_df["Movie Name"] = movie_name
    new_df["Year"] = release_year
    new_df["Ratings"] = ratings
    return new_df.head(100)

imdb_top_100("https://www.imdb.com/chart/top/")

    Rank                         Movie Name  Year Ratings
0      1           The Shawshank Redemption  1994     9.2
1      2                      The Godfather  1972     9.2
2      3                    The Dark Knight  2008     9.0
3      4              The Godfather Part II  1974     9.0
4      5                       12 Angry Men  1957     9.0
..   ...                                ...   ...     ...
95    96  M - Eine Stadt sucht einen Mörder  1931     8.3
96    97                 Lawrence of Arabia  1962     8.3
97    98                       Idi i smotri  1985     8.3
98    99                 North by Northwest  1959     8.2
99   100                           .Vertigo  1958     8.2

[100 rows x 4 columns]

### 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
- Dataset name
- Data type
- Task
- Attribute type
- No of instances
- No of attribute
- Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [154]:
url="https://archive.ics.uci.edu/"
driver=webdriver.Chrome(r'C:/chrome_driver/chromedriver.exe')
driver.get(url)

C:\Users\shiva\AppData\Local\Temp\ipykernel_14532\2452019179.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:/chrome_driver/chromedriver.exe')

In [156]:
show=driver.find_element(By.XPATH, "//a[@href='datasets.php']")
show.click()

In [157]:
name=[]
try:
    names=driver.find_elements(By.XPATH, "/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('No details available')
print(len(name))

622

In [158]:
data_type=[]
try:
    info=driver.find_elements(By.XPATH, "/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in info[1:]:
         data_type.append(i.text)
except NoSuchElementException:
    data_type.append("No information")
print(len(data_type))

622

In [159]:
default_task=[]
try:
    info=driver.find_elements(By.XPATH, "/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in info[1:]:
         default_task.append(i.text)
except NoSuchElementException:
    default_task.append("No information")
print(len(default_task))

622

In [160]:
attr_type=[]
try:
    info=driver.find_elements(By.XPATH, "/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in info[1:]:
         attr_type.append(i.text)
except NoSuchElementException:
    attr_type.append("No information")
print(len(attr_type))

622

In [161]:
no_of_instances=[]
try:
    info=driver.find_elements(By.XPATH, "/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in info[1:]:
         no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append("No information")
print(len(no_of_instances))

622

In [162]:
no_of_attributes=[]
try:
    info=driver.find_elements(By.XPATH, "/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in info[1:]:
         no_of_attributes.append(i.text)
except NoSuchElementException:
    no_of_attributes.append("No information")
print(len(no_of_attributes))

622

In [163]:
year=[]
try:
    info=driver.find_elements(By.XPATH, "/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in info[1:]:
         year.append(i.text)
except NoSuchElementException:
    year.append("No information")
print(len(year))

622

In [164]:
df=pd.DataFrame({'Name':name,
                'Data_type':data_type,
                'Task':default_task,
                'Attribute_type':attr_type,
                'No_of_instances':no_of_instances,
                'No_of_attributes':no_of_attributes,
                'Year':year})
print(df)

                                                  Name  \
0                                              Abalone
1                                                Adult
2                                            Annealing
3                         Anonymous Microsoft Web Data
4                                           Arrhythmia
..                                                 ...
617  Influenza outbreak event prediction via Twitte...
618                      Turkish Music Emotion Dataset
619                      Maternal Health Risk Data Set
620                          Room Occupancy Estimation
621  Image Recognition Task Execution Times in Mobi...

                      Data_type                  Task  \
0                 Multivariate        Classification
1                 Multivariate        Classification
2                 Multivariate        Classification
3                                Recommender-Systems
4                 Multivariate        Classification
..                          ...                   ...
617               Multivariate        Classification
618               Multivariate        Classification
619                                   Classification
620  Multivariate, Time-Series        Classification
621                 Univariate            Regression

                  Attribute_type No_of_instances No_of_attributes   Year
0    Categorical, Integer, Real            4177                8   1995
1          Categorical, Integer           48842               14   1996
2    Categorical, Integer, Real             798               38
3                   Categorical           37711              294   1998
4    Categorical, Integer, Real             452              279   1998
..                           ...             ...              ...    ...
617               Integer, Real           75840              525   2020
618               Integer, Real             400               50   2020
619                                        1014                7   2020
620                        Real           10129               16   2021
621                        Real            4000                2   2021

[622 rows x 7 columns]