In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.5.0-py3-none-any.whl (995 kB)
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\shiva\anaconda3\lib\site-packages (from selenium) (1.26.9)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shiva\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: cffi>=1.14 in c:\users\shiva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.0.0rc9-py3-none-any.whl (12 kB)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sniffio in c:\users\shiva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shiva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\shiva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\shiva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Requirement already satisfied: pycparser in c:\users\shiva\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shiva\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, exceptiongroup, async-generator, wsproto, trio, trio-websocket, selenium
Successfully installed async-generator-1.10 exceptiongroup-1.0.0rc9 h11-0.14.0 outcome-1.2.0 selenium-4.5.0 trio-0.22.0 trio-websocket-0.9.2 wsproto-1.2.0

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException , NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [5]:
driver = webdriver.Chrome("C:/chrome_driver/chromedriver.exe")

In [6]:
driver.get('https://www.naukri.com/')
time(5)

In [7]:
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Analyst')

In [8]:
locations = driver.find_element(By.XPATH, '//*[@id="root"]/div[6]/div/div/div[5]/div/div/div/input')
locations.send_keys('Banglaore')

In [9]:
search = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()

In [47]:
job_title = []
job_location = []
company_name = []
experiance_required = []

title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
    
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
    
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
experiance_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experiance_tags[0:10]:
    experiance = i.text
    experiance_required.append(experiance)

In [48]:
df = pd.DataFrame()
df["Title"] = job_title
df["Job_location"] = job_location
df["Company_Name"] = company_name
df["Experiance Required"] = experiance_required

In [49]:
df

,Title,Job_location,Company_Name,Experiance Required
0,Senior Data Analyst,"Chennai, Bangalore/Bengaluru",Latentview,3-6 Yrs
1,Data Analyst - CRM Platform,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Artech infosystem,1-6 Yrs
2,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
3,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Kolkata, Hyderabad/Secunderabad, Pune, Bangalo...",Cognizant,3-8 Yrs
4,Call For Clinical Data Analyst - Hyd/Bangalore...,"Kolkata, Hyderabad/Secunderabad, Pune, Bangalo...",Cognizant,6-9 Yrs
5,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
6,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,5-10 Yrs
7,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
8,Data Analytics and Interpretation Business Ana...,Bangalore/Bengaluru,Accenture,6-8 Yrs
9,HR Data Analyst,Bangalore/Bengaluru,Hitachi Ltd.,3-6 Yrs