# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
### This task will be done in following steps:
### 1. First get the webpage https://www.naukri.com/
### 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
### 3. Then click the search button.
### 4. Then scrape the data for the first 10 jobs results you get.
### 5. Finally create a dataframe of the scraped data.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException , NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome("C:/chrome_driver/chromedriver.exe")

In [3]:
driver.get('https://www.naukri.com/')
# time(5)

In [4]:
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Analyst')

In [5]:
locations = driver.find_element(By.XPATH, '//*[@id="root"]/div[6]/div/div/div[5]/div/div/div/input')
locations.send_keys('Banglaore')

In [6]:
search = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()

In [7]:
job_title1 = []
job_location1 = []
company_name1 = []
experiance_required1 = []

title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title1.append(title)
    
    
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location1.append(location)
    
    
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name1.append(company)
    
experiance_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experiance_tags[0:10]:
    experiance = i.text
    experiance_required1.append(experiance)

In [8]:
df = pd.DataFrame()
df["Title"] = job_title1
df["Job_location"] = job_location1
df["Company_Name"] = company_name1
df["Experiance Required"] = experiance_required1

In [9]:
print("Job Roles For Data Analyst in Bangalore")
df

Job Roles For Data Analyst in Bangalore

Empty DataFrame
Columns: [Title, Job_location, Company_Name, Experiance Required]
Index: []

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
### This task will be done in following steps:
### 1. First get the webpage https://www.naukri.com/
### 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
### 3. Then click the search button.
### 4. Then scrape the data for the first 10 jobs results you get.
### 5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [10]:
driver = webdriver.Chrome("C:/chrome_driver/chromedriver.exe")

In [11]:
driver.get('https://www.naukri.com/')
# time(5)

In [12]:
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Scientist')

In [13]:
locations = driver.find_element(By.XPATH, '//*[@id="root"]/div[6]/div/div/div[5]/div/div/div/input')
locations.send_keys('Banglaore')

In [14]:
search = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()

In [21]:
job_title2 = []
job_location2 = []
company_name2 = []
experiance_required2 = []

title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title2.append(title)
    
    
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location2.append(location)
    
    
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name2.append(company)
    
experiance_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experiance_tags[0:10]:
    experiance = i.text
    experiance_required2.append(experiance)

In [22]:
df = pd.DataFrame()
df["Title"] = job_title2
df["Job_location"] = job_location2
df["Company_Name"] = company_name2
df["Experiance Required"] = experiance_required2

In [23]:
print("\033[1m Job Roles For Data Scientist in Bangalore \033[0;0m")
df

 Job Roles For Data Scientist in Bangalore

,Title,Job_location,Company_Name,Experiance Required
0,"Mongodb Database Administrator, Maria DB or Ca...","Delhi / NCR, Hyderabad/Secunderabad, Pune, Che...",Mphasis,9-14 Yrs
1,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
2,Data Scientist,"Delhi / NCR, New Delhi, Pune, Gurgaon/Gurugram...",ZS Associates,5-8 Yrs
3,Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,5-10 Yrs
4,Opportunity For Senior Data Scientist/ Busines...,"Delhi / NCR, Gurgaon/Gurugram, Bangalore/Benga...",PayU,4-6 Yrs
5,Exciting opportunity For model monitoring/mode...,"Delhi / NCR, New Delhi, Gurgaon/Gurugram, Bang...",EXL,4-7 Yrs
6,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",EXL,4-7 Yrs
7,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
8,Data Scientist: Advanced Analytics,Gurgaon/Gurugram,IBM,3-7 Yrs
9,ACN - Applied Intelligence - Data & Insights -...,Gurgaon/Gurugram,Accenture,4-6 Yrs

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
### You have to use the location and salary filter.
### You have to scrape data for “Data Scientist” designation for first 10 job results.
### You have to scrape the job-title, job-location, company name, experience required.
### The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [18]:
driver = webdriver.Chrome("C:/chrome_driver/chromedriver.exe")
driver.get('https://www.naukri.com/')
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Scientist')
locations = driver.find_element(By.XPATH, '//*[@id="root"]/div[6]/div/div/div[5]/div/div/div/input')
locations.send_keys('Delhi/NCR')

In [19]:
search = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()

In [24]:
search_filter = driver.find_element(By.XPATH, '/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p')
search_filter.click()

In [30]:
job_title3 = []
job_location3 = []
company_name3 = []
experiance_required3 = []

title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title3.append(title)
    
    
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location3.append(location)
    
    
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name3.append(company)
    
experiance_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experiance_tags[0:10]:
    experiance = i.text
    experiance_required3.append(experiance)

In [31]:
print("\033[1m Job Roles For Data Scientist in Bangalore \033[0;0m")
df = pd.DataFrame()
df["Title"] = job_title3
df["Job_location"] = job_location3
df["Company_Name"] = company_name3
df["Experiance Required"] = experiance_required3

 Job Roles For Data Scientist in Bangalore

In [32]:
df

,Title,Job_location,Company_Name,Experiance Required
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
1,Module Lead - BIDW,Bangalore/Bengaluru,Mphasis,5-8 Yrs
2,Data Scientist/AIML Engineer,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",upGrad,0-2 Yrs
3,Geospatial Data Engineer/Scientist,Bangalore/Bengaluru,Louis Dreyfus Commodities,5-10 Yrs
4,Python Programming Language Data Science Pract...,Bangalore/Bengaluru,Accenture,4-6 Yrs
5,Data Scientist,Hyderabad/Secunderabad,Tata Consultancy Services (tcs),4-6 Yrs
6,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
7,Scientific Computing (Proactive SO),Bangalore/Bengaluru,CGI,3-7 Yrs
8,Data Scientist,Bangalore/Bengaluru,Infosys,2-7 Yrs
9,Data Scientist,Bangalore/Bengaluru,Infosys,2-7 Yrs

# Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [93]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains

In [94]:
driver = webdriver.Chrome('C:/chrome_driver/chromedriver.exe')
driver.get('https://www.ambitionbox.com/')
salary = driver.find_element(By.XPATH, '//*[@id="ambitionbox-header"]/nav/ul/li[3]/span')
salary.click()
driver.implicitly_wait(5)
second_click = driver.find_element(By.LINK_TEXT, 'Browse salaries')
second_click.click()

In [99]:
search_text = driver.find_element(By.XPATH, '//input[@id="jobProfileSearchbox"]')
search_text.send_keys('Data Scientist')
driver.implicitly_wait(5)
search_text_click = driver.find_element(By.XPATH, '//*[@id="salaries"]/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
search_text_click.click()

In [100]:
elements = driver.find_elements(By.XPATH, '//div[@class="result-row"]')

In [101]:
companies = []
for i in elements:
    temp = i.find_elements(By.TAG_NAME, 'a')
    for i in temp:
        companies.append(i.text[:-22])

In [102]:
experiance = []
for i in elements:
    temp = i.find_elements(By.CLASS_NAME, 'sbold-list-header')
    for i in temp:
        experiance.append(i.text)
        
totaL_salary_record = []
final_experiance = []
for i in range(0, len(experiance)):
    a = experiance[i].split(' (')
    final_experiance.append(a[0])
    totaL_salary_record.append(a[1])

In [108]:
avg_elements = driver.find_elements(By.XPATH, '//p[@class="averageCtc"]')
average_sal = []
for i in avg_elements:
    average_sal.append(i.text)
average_sal

In [109]:
min_max_elements = driver.find_elements(By.XPATH, '//div[@class="salary-values"]')
min_max = []
for i in min_max_elements:
    min_max.append(i.text)

In [110]:
mina = []
maxa = []

In [111]:
for i in min_max:
    a = i.split('\n')
    # print(a)
    mina.append(a[0])
    maxa.append(a[1])

In [112]:
import pandas as pd
df = pd.DataFrame()
df['Companies'] = companies
df["Salary"] = totaL_salary_record
df["Experiance"] = final_experiance
df["Min Salary"] = mina
df["Avg Salary"] = average_sal
df["Max Salary"] = maxa

df

,Companies,Salary,Experiance,Min Salary,Avg Salary,Max Salary
0,Walmart,based on 24 salaries),3-4 yrs experience,₹ 25.0L,₹ 32.2L,₹ 45.0L
1,Ab Inbev,based on 59 salaries),2-4 yrs experience,₹ 15.0L,₹ 19.8L,₹ 26.0L
2,Optum,based on 49 salaries),2-4 yrs experience,₹ 11.0L,₹ 16.4L,₹ 22.6L
3,ZS,based on 35 salaries),1-2 yrs experience,₹ 11.0L,₹ 15.9L,₹ 22.0L
4,Fractal Analytics,based on 118 salaries),2-4 yrs experience,₹ 9.0L,₹ 15.5L,₹ 23.0L
5,Sigmoid Analytics,based on 10 salaries),1 yr experience,₹ 12.7L,₹ 14.7L,₹ 19.7L
6,Tiger Analytics,based on 70 salaries),2-4 yrs experience,₹ 9.0L,₹ 14.6L,₹ 20.0L
7,Legato Health Technologies,based on 11 salaries),4 yrs experience,₹ 11.0L,₹ 14.5L,₹ 20.0L
8,HSBC,based on 10 salaries),4 yrs experience,₹ 12.0L,₹ 14.0L,₹ 18.0L
9,Tredence,based on 14 salaries),3 yrs experience,₹ 8.8L,₹ 13.9L,₹ 17.5L

# Q7 - Go to the link - https://www.myntra.com/shoes. Set second Price filter and Color filter to “Black”, as shown in the below image.
## And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException , NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.common.keys import Keys

In [ ]:
driver = webdriver.Chrome('C:/chrome_driver/chromedriver.exe')
driver.get('https://www.myntra.com/shoes')

In [ ]:
price = driver.find_element(By.XPATH, '//*[@id="mountRoot"]/div/div[1]/main/div/div[1]/section/div/div[5]/ul/li[2]')
price.click()

In [ ]:
color = driver.find_element(By.XPATH, '//*[@id="mountRoot"]/div/div[1]/main/div/div[1]/section/div/div[6]/ul/li[1]')
color.click()

In [ ]:
#creating the empty list
brand=[]
description=[]
price=[]

In [ ]:
# ----------------------------------------------------------------------------------------------------------------------
brands=driver.find_elements(By.CLASS_NAME, 'product-brand')#scraping brands name by class name='_2B_pmu'
for i in brands:
    brand.append(i.text)#appending the text in Brand list
#    
desc=driver.find_elements(By.CLASS_NAME, 'product-product')#scraping description by class name = '_2mylT6'
for i in desc:
    description.append(i.text)#appending the description in list
#
prices=driver.find_elements(By.XPATH, '//div[@class="product-price"]') # scraping the price from the xpath
for i in prices:
    price.append(i.text)

In [ ]:
nxt_button=driver.find_element(By.XPATH, '//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[12]/a')#scraping the list of buttons from the page
nxt_button.click()

In [ ]:
# ----------------------------------------------------------------------------------------------------------------------
brands=driver.find_elements(By.CLASS_NAME, 'product-brand')#scraping brands name by class name='_2B_pmu'
for i in brands:
    brand.append(i.text)#appending the text in Brand list
#    
desc=driver.find_elements(By.CLASS_NAME, 'product-product')#scraping description by class name = '_2mylT6'
for i in desc:
    description.append(i.text)#appending the description in list
#
prices=driver.find_elements(By.XPATH, '//div[@class="product-price"]') # scraping the price from the xpath
for i in prices:
    price.append(i.text)

In [ ]:
df = pd.DataFrame()
df['Brand'] = brand
df['Description'] = description
df['Price | Actual Price | Discount'] = price

# Q8: Go to webpage https://www.amazon.in/.
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException , NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.common.keys import Keys

In [ ]:
driver = webdriver.Chrome('C:/chrome_driver/chromedriver.exe')
driver.get('https://www.amazon.in/')

In [ ]:
product = driver.find_element(By.ID, "twotabsearchtextbox")
product.send_keys('Laptop')
product.send_keys(Keys.RETURN)

In [ ]:
processor = driver.find_element(By.XPATH, '//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
processor.click()

In [ ]:
title = []
rating = []
price = []

In [ ]:
laptop_name_element = driver.find_elements(By.XPATH, '//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
for laptop in laptop_name_element[:10]:
    i = laptop.text
    title.append(i)

In [ ]:
# find a ratings box
ratings_box = driver.find_elements(By.XPATH, '//div[@class="a-row a-size-small"]/span')
for i in range(0, 20):
    ratings = ratings_box[i].get_attribute('aria-label')
    if len(ratings) > 10:
        if len(rating) == 10:
            break
        else:
            rating.append(ratings)

In [ ]:
price_element = driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for _ in price_element[:10]:
    i = _.text
    price.append(i)

In [ ]:
df = pd.DataFrame()
df['Title'] = title
df['Rating'] = rating
df['Price'] = price

df

# Q4 - Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [ ]:
import selenium
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
import pandas as pd
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [ ]:
driver = selenium.webdriver.Chrome("C:/chrome_driver/chromedriver.exe")
driver.get('https://www.flipkart.com/')

In [ ]:
button1 = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, '//button[@class=\"_2KpZ6l _2doB4z\"]')))
button1.click()

In [ ]:
search_bar = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.CLASS_NAME, '_3704LK')))
search_bar.send_keys('sunglasses')
search_bar.send_keys(Keys.RETURN)

In [ ]:
brand_names = []
goggle_names = []
goggle_price = []

In [ ]:
brand_names_element = driver.find_elements(By.XPATH, '//div[@class=\"_2WkVRV\"]')
for i in brand_names_element[0:100]:
    text = i.text
    brand_names.append(text)
    
    
goggle_names_element = driver.find_elements(By.XPATH, '//a[@class=\"IRpwTa\"]')
for i in goggle_names_element[0:100]:
    text = i.text
    goggle_names.append(text)
    
    
price_element = driver.find_elements(By.XPATH, '//div[@class=\"_30jeq3\"]')
for i in price_element[0:100]:
    text = i.text
    goggle_price.append(text)

In [ ]:
next_page = driver.find_element(By.XPATH, '//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_page.click()


brand_names_element = driver.find_elements(By.XPATH, '//div[@class=\"_2WkVRV\"]')
for i in brand_names_element[0:100]:
    text = i.text
    brand_names.append(text)
    
    
goggle_names_element = driver.find_elements(By.XPATH, '//a[@class=\"IRpwTa\"]')
for i in goggle_names_element[0:100]:
    text = i.text
    goggle_names.append(text)
    
    
price_element = driver.find_elements(By.XPATH, '//div[@class=\"_30jeq3\"]')
for i in price_element[0:100]:
    text = i.text
    goggle_price.append(text)

In [ ]:
next_page = driver.find_element(By.XPATH, '//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_page.click()

brand_names_element = driver.find_elements(By.XPATH, '//div[@class=\"_2WkVRV\"]')
for i in brand_names_element[0:100]:
    text = i.text
    brand_names.append(text)
    
    
goggle_names_element = driver.find_elements(By.XPATH, '//a[@class=\"IRpwTa\"]')
for i in goggle_names_element[0:100]:
    text = i.text
    goggle_names.append(text)
    
    
price_element = driver.find_elements(By.XPATH, '//div[@class=\"_30jeq3\"]')
for i in price_element[0:100]:
    text = i.text
    goggle_price.append(text)

In [ ]:
df = pd.DataFrame()
df['Brand'] = brand_names[:100]
df['Goggle Name'] = goggle_names[:100]
df["Price"] = goggle_price[:100]

df