# Flip Robot Assignment 3 Answers

In [2]:
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException , NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [4]:
# Loading Chrome Driver
driver = webdriver.Chrome("C:/chrome_driver/chromedriver.exe")

In [5]:
# opening web address in chrome driver browser to access html, css information
driver.get('https://www.naukri.com/')

In [6]:
# Finding "Search Bar" for designation with the help of class name and passing "Data Analyst" string as arguement  
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Analyst')

In [7]:
# Finding "Search Bar" for location with the help of XPATH and passing "Banglaore" string as arguement  
locations = driver.find_element(By.XPATH, '//*[@id="root"]/div[6]/div/div/div[5]/div/div/div/input')
locations.send_keys('Banglaore')

In [8]:
# Finding "Button" for submitting user input, with the help of class name and passing clicking on it to search  
search = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()

In [9]:
# Creating empty lists to append data in list
job_title1 = []
job_location1 = []
company_name1 = []
experiance_required1 = []

# Getting title tags
title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')

# Looping through each tag to get job title, from web element and appending each element to job_title1
for i in title_tags[0:10]:
    title = i.text
    job_title1.append(title)
    
# Getting location tags
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')

# Looping through each tag to get job location, from web element and appending each element to job_location1
for i in location_tags[0:10]:
    location = i.text
    job_location1.append(location)
    
# Getting company name tags    
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
# Looping through each tag to get company name, from web element and appending each element to company_name1
for i in company_tags[0:10]:
    company = i.text
    company_name1.append(company)

# Getting experiance required tags     
experiance_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')

# Looping through each tag to get experiance required, from web element and appending each element to experiance_required1
for i in experiance_tags[0:10]:
    experiance = i.text
    experiance_required1.append(experiance)

In [10]:
# Creating Data Frame to export/process extracted information
df = pd.DataFrame()

# Creating columns, and assigning values from lists
df["Title"] = job_title1
df["Job_location"] = job_location1
df["Company_Name"] = company_name1
df["Experiance Required"] = experiance_required1

In [11]:
print("Job Roles For Data Analyst in Bangalore")
df

Job Roles For Data Analyst in Bangalore

,Title,Job_location,Company_Name,Experiance Required
0,Senior Data Analyst,"Chennai, Bangalore/Bengaluru",Latentview,3-6 Yrs
1,Data Analyst,"Mangaluru/Mangalore, Pune, Bangalore/Bengaluru...","Coresight Research, Inc.",4-8 Yrs
2,Data Analyst,Bangalore/Bengaluru,Varite,2-5 Yrs
3,Data Analyst - CRM Platform,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Artech infosystem,1-6 Yrs
4,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
5,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Kolkata, Hyderabad/Secunderabad, Pune, Bangalo...",Cognizant,3-8 Yrs
6,Call For Clinical Data Analyst - Hyd/Bangalore...,"Kolkata, Hyderabad/Secunderabad, Pune, Bangalo...",Cognizant,6-9 Yrs
7,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,5-10 Yrs
8,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
9,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [12]:
# Loading Chrome Driver
driver = webdriver.Chrome("C:/chrome_driver/chromedriver.exe")

In [13]:
# opening web address in chrome driver browser to access html, css information
driver.get('https://www.naukri.com/')

In [14]:
# Finding "Search Bar" for designation with the help of class name and passing "Data Scientist" string as arguement  
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Scientist')

In [15]:
# Finding "Search Bar" for location with the help of XPATH and passing "Banglaore" string as arguement  
locations = driver.find_element(By.XPATH, '//*[@id="root"]/div[6]/div/div/div[5]/div/div/div/input')
locations.send_keys('Banglaore')

In [16]:
# Finding "Button" for submitting user input, with the help of class name and passing clicking on it to search  
search = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()

In [17]:
# Creating empty lists to append data in list
job_title2 = []
job_location2 = []
company_name2 = []
experiance_required2 = []


# Getting title tags
title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')

# Looping through each tag to get job title, from web element and appending each element to job_title2
for i in title_tags[0:10]:
    title = i.text
    job_title2.append(title)
    
# Getting location tags    
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')

# Looping through each tag to get job location, from web element and appending each element to job_location2
for i in location_tags[0:10]:
    location = i.text
    job_location2.append(location)
    
    
# Getting company name tags    
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')

# Looping through each tag to get company name, from web element and appending each element to company_name2
for i in company_tags[0:10]:
    company = i.text
    company_name2.append(company)
    
# Getting experiance required tags     
experiance_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')

# Looping through each tag to get experiance required, from web element and appending each element to experiance_required2
for i in experiance_tags[0:10]:
    experiance = i.text
    experiance_required2.append(experiance)

In [18]:
# Creating Data Frame to export/process extracted information

df = pd.DataFrame()

# Creating columns, and assigning values from lists

df["Title"] = job_title2
df["Job_location"] = job_location2
df["Company_Name"] = company_name2
df["Experiance Required"] = experiance_required2

In [19]:
print("\033[1m Job Roles For Data Scientist in Bangalore \033[0;0m")
df

 Job Roles For Data Scientist in Bangalore

,Title,Job_location,Company_Name,Experiance Required
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
1,Data Science Manager,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,4-7 Yrs
2,"Mongodb Database Administrator, Maria DB or Ca...","Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Mphasis,9-14 Yrs
3,Assistant Manager - Data Science,"Mumbai, Pune, Bangalore/Bengaluru",CitiusTech,5-9 Yrs
4,Data Scientist,"New Delhi, Pune, Gurgaon/Gurugram, Bangalore/B...",ZS Associates,5-8 Yrs
5,Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tech Mahindra,10-14 Yrs
6,Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,5-10 Yrs
7,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,4-8 Yrs
8,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart,3-7 Yrs
9,Senior Data Scientist,"Pune, Chennai, Bangalore/Bengaluru",Wipro,8-13 Yrs

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [20]:
# Loading Chrome Driver
driver = webdriver.Chrome("C:/chrome_driver/chromedriver.exe")

# opening web address in chrome driver browser to access html, css information
driver.get('https://www.naukri.com/')

# Finding "Search Bar" for designation with the help of class name and passing "Data Scientist" string as arguement  
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Scientist')

# Finding "Search Bar" for location with the help of XPATH and passing "Delhi/NCR" string as arguement  
locations = driver.find_element(By.XPATH, '//*[@id="root"]/div[6]/div/div/div[5]/div/div/div/input')
locations.send_keys('Delhi/NCR')

In [21]:
search = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()

In [22]:
# Finding "Button" for submitting user input, with the help of class name and passing clicking on it to search  
search_filter = driver.find_element(By.XPATH, '/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p')
search_filter.click()

In [23]:
# Creating empty lists to append data in list
job_title3 = []
job_location3 = []
company_name3 = []
experiance_required3 = []

# Getting title tags
title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
# Looping through each tag to get job title, from web element and appending each element to job_title3
for i in title_tags[0:10]:
    title = i.text
    job_title3.append(title)
    
    
# Getting location tags
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
# Looping through each tag to get job location, from web element and appending each element to job_location3
for i in location_tags[0:10]:
    location = i.text
    job_location3.append(location)
    
    
# Getting company name tags    
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
# Looping through each tag to get company name, from web element and appending each element to company_name3
for i in company_tags[0:10]:
    company = i.text
    company_name3.append(company)
    
# Getting experiance required tags     
experiance_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
# Looping through each tag to get experiance required, from web element and appending each element to experiance_required3
for i in experiance_tags[0:10]:
    experiance = i.text
    experiance_required3.append(experiance)

In [24]:
print("\033[1m Job Roles For Data Scientist in Bangalore \033[0;0m")

# Creating Data Frame to export/process extracted information
df = pd.DataFrame()

# Creating columns, and assigning values from lists
df["Title"] = job_title3
df["Job_location"] = job_location3
df["Company_Name"] = company_name3
df["Experiance Required"] = experiance_required3

 Job Roles For Data Scientist in Bangalore

In [25]:
df

,Title,Job_location,Company_Name,Experiance Required
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
1,Module Lead - BIDW,Bangalore/Bengaluru,Mphasis,5-8 Yrs
2,Data Scientist/AIML Engineer,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",upGrad,0-2 Yrs
3,Geospatial Data Engineer/Scientist,Bangalore/Bengaluru,Louis Dreyfus Commodities,5-10 Yrs
4,Python Programming Language Data Science Pract...,Bangalore/Bengaluru,Accenture,4-6 Yrs
5,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
6,Scientific Computing (Proactive SO),Bangalore/Bengaluru,CGI,3-7 Yrs
7,Data Scientist,Bangalore/Bengaluru,Infosys,2-7 Yrs
8,Data Scientist,Bangalore/Bengaluru,Infosys,2-7 Yrs
9,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs

# Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [26]:
# Loading Chrome Driver
driver = webdriver.Chrome('C:/chrome_driver/chromedriver.exe')


# opening web address in chrome driver browser to access html, css information
driver.get('https://www.ambitionbox.com/')

# Accessing nav bar element with the help of XPATH, and clicking on it to access drop down list
salary = driver.find_element(By.XPATH, '//*[@id="ambitionbox-header"]/nav/ul/li[3]/span')
salary.click()

# Incase website takes more time load, giving time to load elements, to avoid no such element error 
driver.implicitly_wait(5)

# Accessing "Browse salaries" href, with the help of LINK TEXT name space
second_click = driver.find_element(By.LINK_TEXT, 'Browse salaries')
second_click.click()

In [27]:
# Accessing search bar with the help of XPATH and passing "Data Scientist" as an arguement
search_text = driver.find_element(By.XPATH, '//input[@id="jobProfileSearchbox"]')
search_text.send_keys('Data Scientist')

# Allowing web page to load
driver.implicitly_wait(5)

# Clicking on search results
search_text_click = driver.find_element(By.XPATH, '//*[@id="salaries"]/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
search_text_click.click()

In [28]:
# Extracting all elements with Relative XPATH
elements = driver.find_elements(By.XPATH, '//div[@class="result-row"]')

In [29]:
# Creating empty list to store companies information
companies = []

# looping through company names, and appending text to companies list
for i in elements:
    temp = i.find_elements(By.TAG_NAME, 'a')
    for i in temp:
        companies.append(i.text[:-22])  # Removing "Data Scientist Salary" from string

In [30]:
experiance = []  # Creating empty list to store experiance required information

# looping through elements, and appending experiance required to list
for i in elements:
    temp = i.find_elements(By.CLASS_NAME, 'sbold-list-header')
    for i in temp:
        experiance.append(i.text)
        
totaL_salary_record = []  # salary based on no. of feedbacks
final_experiance = []  # Actual salary

# looping through elements, and appending salary and total records processed
for i in range(0, len(experiance)):
    a = experiance[i].split(' (')
    final_experiance.append(a[0])
    totaL_salary_record.append(a[1])

In [31]:
# Finding average salary
avg_elements = driver.find_elements(By.XPATH, '//p[@class="averageCtc"]')
average_sal = []
for i in avg_elements:
    average_sal.append(i.text)

In [32]:
min_max_elements = driver.find_elements(By.XPATH, '//div[@class="salary-values"]')
min_max = []
for i in min_max_elements:
    min_max.append(i.text)

In [33]:
# Creating empty list to store salaries
mina = []  # For storing minimum salary
maxa = []  # For storing maximum salary

In [34]:
for i in min_max:
    a = i.split('\n')
    # print(a)
    mina.append(a[0])  # Appending minimum salary
    maxa.append(a[1])  # Appending maximum salary

In [36]:
# Creating data frame to store/process information scrapped from website
df = pd.DataFrame()

# Creating columns
df['Companies'] = companies
df["Salary"] = totaL_salary_record
df["Experiance"] = final_experiance
df["Min Salary"] = mina
df["Avg Salary"] = average_sal
df["Max Salary"] = maxa

df

,Companies,Salary,Experiance,Min Salary,Avg Salary,Max Salary
0,Walmart,based on 24 salaries),3-4 yrs experience,₹ 25.0L,₹ 32.2L,₹ 45.0L
1,Ab Inbev,based on 59 salaries),2-4 yrs experience,₹ 15.0L,₹ 19.8L,₹ 26.0L
2,Optum,based on 49 salaries),2-4 yrs experience,₹ 11.0L,₹ 16.4L,₹ 22.6L
3,ZS,based on 35 salaries),1-2 yrs experience,₹ 11.0L,₹ 15.9L,₹ 22.0L
4,Fractal Analytics,based on 118 salaries),2-4 yrs experience,₹ 9.0L,₹ 15.5L,₹ 23.0L
5,Sigmoid Analytics,based on 10 salaries),1 yr experience,₹ 12.7L,₹ 14.7L,₹ 19.7L
6,Tiger Analytics,based on 70 salaries),2-4 yrs experience,₹ 9.0L,₹ 14.6L,₹ 20.0L
7,Legato Health Technologies,based on 11 salaries),4 yrs experience,₹ 11.0L,₹ 14.5L,₹ 20.0L
8,HSBC,based on 10 salaries),4 yrs experience,₹ 12.0L,₹ 14.0L,₹ 18.0L
9,Tredence,based on 14 salaries),3 yrs experience,₹ 8.8L,₹ 13.9L,₹ 17.5L

# Q7 - On Myntra, Set second Price filter and Color filter to “Black”, as shown in the below image.
Link - Go to the link - https://www.myntra.com/shoes. 
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [37]:
# Loading Chrome Driver
driver = webdriver.Chrome('C:/chrome_driver/chromedriver.exe')

# opening web address in chrome driver browser to access html, css information
driver.get('https://www.myntra.com/shoes')

In [38]:
# Finding price element with the help of XPATH, and clicking check box 
price = driver.find_element(By.XPATH, '//*[@id="mountRoot"]/div/div[1]/main/div/div[1]/section/div/div[5]/ul/li[2]')
price.click()

In [39]:
# Finding color element with the help of XPATH, and clicking check box for black color
color = driver.find_element(By.XPATH, '//*[@id="mountRoot"]/div/div[1]/main/div/div[1]/section/div/div[6]/ul/li[1]')
color.click()

In [40]:
#creating the empty list
brand=[]
description=[]
price=[]

In [41]:
# ----------------------------------------------------------------------------------------------------------------------
brands=driver.find_elements(By.CLASS_NAME, 'product-brand') # scraping brands name by class name='product-brand'
for i in brands:
    brand.append(i.text)  # appending the company/brand in Brand list
#    
desc=driver.find_elements(By.CLASS_NAME, 'product-product') # scraping description by class name = 'product-product'
for i in desc:
    description.append(i.text)  # appending the description in list
#
prices=driver.find_elements(By.XPATH, '//div[@class="product-price"]') # scraping the price from the xpath
for i in prices:
    price.append(i.text)  # appending the price in price list

In [42]:
# Going to next page to access more web elements
nxt_button=driver.find_element(By.XPATH, '//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[12]/a')#scraping the list of buttons from the page
nxt_button.click()

In [43]:
# ----------------------------------------------------------------------------------------------------------------------
brands=driver.find_elements(By.CLASS_NAME, 'product-brand')  # scraping brands name by class name='product-brand'
for i in brands:
    brand.append(i.text) # appending the company/brand in Brand list
#    
desc=driver.find_elements(By.CLASS_NAME, 'product-product') # scraping description by class name = 'product-product'
for i in desc:
    description.append(i.text)  # appending the description in list
#
prices=driver.find_elements(By.XPATH, '//div[@class="product-price"]') # scraping the price from the xpath
for i in prices:
    price.append(i.text)  # appending the price in price list

In [44]:
df = pd.DataFrame()
df['Brand'] = brand
df['Description'] = description
df['Price | Actual Price | Discount'] = price

In [45]:
df

,Brand,Description,Price | Actual Price | Discount
0,UNDER ARMOUR,Men HOVR SonicSE Running Shoes,Rs. 8499Rs. 9999(15% OFF)
1,UNDER ARMOUR,Men ChargedEscape 3 BL Running,Rs. 7199Rs. 8999(20% OFF)
2,UNDER ARMOUR,Unisex 3ZER0 IV Basketball,Rs. 7649Rs. 8999(15% OFF)
3,Skechers,Men GO WALK - TERRA Shoes,Rs. 8499Rs. 9999(15% OFF)
4,Puma,Men Fuse 2.0 Training Shoes,Rs. 6399Rs. 7999(20% OFF)
...,...,...,...
95,J.FONTINI,Men Black Leather Loafers,Rs. 8490
96,ALDO,Women Solid Regular Boots,Rs. 11999
97,Skechers,Men Sports Shoes,Rs. 8499
98,ALDO,Textured Block Sandals,Rs. 7999
99,Tommy Hilfiger,Men Leather Sneakers,Rs. 6509Rs. 9299(30% OFF)

# Q8: On Amazon, scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
Link - Go to webpage https://www.amazon.in/.
1. Title
2. Ratings
3. Price

In [46]:
# Loading Chrome Driver
driver = webdriver.Chrome('C:/chrome_driver/chromedriver.exe')

# opening web address in chrome driver browser to access html, css information
driver.get('https://www.amazon.in/')

In [47]:
product = driver.find_element(By.ID, "twotabsearchtextbox")  # Finding element with the help ID
product.send_keys('Laptop')  # Passing "Laptop" as an search keyword
product.send_keys(Keys.RETURN)  # Pressing enter to load results

In [48]:
# Finding "i7 processor" from Radio boxex and clicking it with the help of XPATH
processor = driver.find_element(By.XPATH, '//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
processor.click()

In [49]:
# Creating Empty lists, so we can append required data in specific list
title = []
rating = []
price = []

In [50]:
# Extracting laptop names
laptop_name_element = driver.find_elements(By.XPATH, '//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
for laptop in laptop_name_element[:10]:  # Looping for first 10 lapotps
    i = laptop.text
    title.append(i)

In [51]:
# find a ratings box
ratings_box = driver.find_elements(By.XPATH, '//div[@class="a-row a-size-small"]/span')
for i in range(0, 20):  # With rating, we are extracting total ratings which is not required
    ratings = ratings_box[i].get_attribute('aria-label')
    # It works, so not touching it is good choice, in future update i will update, or i can pass pass, for future use
    if len(ratings) > 10:
        if len(rating) == 10:
            break
        else:
            rating.append(ratings)

In [52]:
# finding elements with price information and extracting prices
price_element = driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for _ in price_element[:10]:
    i = _.text 
    price.append(i)  # Appending prices in lists

In [53]:
# Creating data frame to extract/process scrapped information
df = pd.DataFrame()
df['Title'] = title
df['Rating'] = rating
df['Price'] = price

df

,Title,Rating,Price
0,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",3.8 out of 5 stars,"67,990"
1,"Fujitsu UH-X 11th Gen Intel Core i7 13.3"" FHD ...",4.2 out of 5 stars,"1,00,000"
2,"ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FH...",4.3 out of 5 stars,"93,290"
3,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,4.2 out of 5 stars,"80,990"
4,Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...,4.5 out of 5 stars,"79,990"
5,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",3.8 out of 5 stars,"67,990"
6,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,4.3 out of 5 stars,"77,990"
7,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...",4.2 out of 5 stars,"86,990"
8,Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 1...,2.9 out of 5 stars,"1,09,990"
9,(Renewed) Lenovo Intel Core i7 5600U 12.5-Inch...,4.2 out of 5 stars,"21,999"

# Q4 - Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [54]:
# Loading Chrome Driver
driver = selenium.webdriver.Chrome("C:/chrome_driver/chromedriver.exe")

# opening web address in chrome driver browser to access html, css information
driver.get('https://www.flipkart.com/')

# Wait for login pop up to apper, then closing it. So we can access search bar and rest of HTML
button1 = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, '//button[@class=\"_2KpZ6l _2doB4z\"]')))
button1.click()

In [55]:
# finding search bar with the help of CLASS name and passing "Sunglasses"
search_bar = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.CLASS_NAME, '_3704LK')))
search_bar.send_keys('sunglasses')
search_bar.send_keys(Keys.RETURN)  # Pressing enter key to proceed results

In [56]:
# Creating empty list to append data 
brand_names = []
goggle_names = []
goggle_price = []

In [57]:
# First Page ----------------------------------------------------------------------------------------
brand_names_element = driver.find_elements(By.XPATH, '//div[@class=\"_2WkVRV\"]')  # Finding brand names with relative XPATH
for i in brand_names_element[0:100]:
    text = i.text
    brand_names.append(text)  # Appending brand names
    
    
goggle_names_element = driver.find_elements(By.XPATH, '//a[@class=\"IRpwTa\"]')  # Finding glassess description with relative XPATH
for i in goggle_names_element[0:100]:
    text = i.text
    goggle_names.append(text)  # Appending description
    
    
price_element = driver.find_elements(By.XPATH, '//div[@class=\"_30jeq3\"]')  # Finding price with relative XPATH
for i in price_element[0:100]:
    text = i.text
    goggle_price.append(text)

In [58]:
next_page = driver.find_element(By.XPATH, '//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_page.click()  # Navigating to Second Page for next 40 glasses

In [59]:
# Second Page ----------------------------------------------------------------------------------------
brand_names_element = driver.find_elements(By.XPATH, '//div[@class=\"_2WkVRV\"]')   # Finding brand names with relative XPATH
for i in brand_names_element[0:100]:
    text = i.text
    brand_names.append(text)
    
    
goggle_names_element = driver.find_elements(By.XPATH, '//a[@class=\"IRpwTa\"]')  # Finding glassess description with relative XPATH
for i in goggle_names_element[0:100]:
    text = i.text
    goggle_names.append(text)
    
    
price_element = driver.find_elements(By.XPATH, '//div[@class=\"_30jeq3\"]')  # Finding price with relative XPATH
for i in price_element[0:100]:
    text = i.text
    goggle_price.append(text)

In [60]:
next_page = driver.find_element(By.XPATH, '//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_page.click()  # Navigating to Third Page for next 40 glasses

In [61]:
# Third Page ----------------------------------------------------------------------------------------
brand_names_element = driver.find_elements(By.XPATH, '//div[@class=\"_2WkVRV\"]')
for i in brand_names_element[0:100]:
    text = i.text
    brand_names.append(text)
    
    
goggle_names_element = driver.find_elements(By.XPATH, '//a[@class=\"IRpwTa\"]')
for i in goggle_names_element[0:100]:
    text = i.text
    goggle_names.append(text)
    
    
price_element = driver.find_elements(By.XPATH, '//div[@class=\"_30jeq3\"]')
for i in price_element[0:100]:
    text = i.text
    goggle_price.append(text)

In [62]:
# Creating data frame for saving/processing scrapped data
df = pd.DataFrame()
df['Brand'] = brand_names[:100]
df['Goggle Name'] = goggle_names[:100]
df["Price"] = goggle_price[:100]

df

,Brand,Goggle Name,Price
0,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),₹649
1,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹399
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799
3,NuVew,UV Protection Aviator Sunglasses (57),₹198
4,SHAAH COLLECTIONS,UV Protection Round Sunglasses (54),₹179
...,...,...,...
95,VINCENT CHASE,by Lenskart UV Protection Round Sunglasses (48),₹949
96,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)",₹999
97,IDEE,UV Protection Aviator Sunglasses (58),"₹1,899"
98,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹213
99,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",₹486

# Q6 - Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [63]:
# Loading Chrome Driver
driver = selenium.webdriver.Chrome("C:/chrome_driver/chromedriver.exe")

# opening web address in chrome driver browser to access html, css information
driver.get('https://www.flipkart.com/')
button1 = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, '//button[@class=\"_2KpZ6l _2doB4z\"]')))
button1.click()

In [64]:
# Searching "sneakers" in web page
search_bar = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.CLASS_NAME, '_3704LK')))
search_bar.send_keys('sneakers')
search_bar.send_keys(Keys.RETURN)

In [65]:
brand_names = []
sneakers_names = []
sneakers_price = []

In [66]:
# First Page -------------------------------------------------------------------------------------
brand_names_element = driver.find_elements(By.XPATH, '//div[@class=\"_2WkVRV\"]')
for i in brand_names_element[0:100]:  # finding brand_names and appending in brand names
    text = i.text
    sneakers_names.append(text)
    
    
sneakers_names_element = driver.find_elements(By.XPATH, '//a[@class=\"IRpwTa\"]')
for i in sneakers_names_element[0:100]:  # finding sneakers_names and appending in sneaker names
    text = i.text
    sneakers_names.append(text)
    
    
price_element = driver.find_elements(By.XPATH, '//div[@class=\"_30jeq3\"]')
for i in price_element[0:100]:  # finding price and appending in sneakers_price
    text = i.text
    sneakers_price.append(text)

In [67]:
next_page = driver.find_element(By.XPATH, '//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_page.click()

In [68]:
# Second Page -------------------------------------------------------------------------------------
brand_names_element = driver.find_elements(By.XPATH, '//div[@class=\"_2WkVRV\"]')
for i in brand_names_element[0:100]:  # finding brand_names and appending in brand Names
    text = i.text
    brand_names.append(text)
    
    
sneakers_names_element = driver.find_elements(By.XPATH, '//a[@class=\"IRpwTa\"]')  # finding sneakers_names and appending in sneaker names
for i in sneakers_names_element[0:100]:  
    text = i.text
    sneakers_names.append(text)
    
    
price_element = driver.find_elements(By.XPATH, '//div[@class=\"_30jeq3\"]')
for i in price_element[0:100]:  # finding price and appending in sneakers_price
    text = i.text
    sneakers_price.append(text)

In [69]:
next_page = driver.find_element(By.XPATH, '//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_page.click()

In [70]:
# Second Page -------------------------------------------------------------------------------------
brand_names_element = driver.find_elements(By.XPATH, '//div[@class=\"_2WkVRV\"]')
for i in brand_names_element[0:100]:  # finding brand_names and appending in brand Names
    text = i.text
    brand_names.append(text)
    
    
sneakers_names_element = driver.find_elements(By.XPATH, '//a[@class=\"IRpwTa\"]')
for i in sneakers_names_element[0:100]:  # finding sneakers_names and appending in sneaker names
    text = i.text
    sneakers_names.append(text)
    
    
price_element = driver.find_elements(By.XPATH, '//div[@class=\"_30jeq3\"]')
for i in price_element[0:100]:  # finding price and appending in sneakers_price
    text = i.text
    sneakers_price.append(text)

In [71]:
# Creating data frame for saving/processing scrapped data

df = pd.DataFrame()
df['Brand'] = brand_names[:100]
df['Product Description'] = sneakers_names[:100]
df["Price"] = sneakers_price[:100]

df

             Brand                                Product Description   Price
0           Layasa                                   Sneakers For Men    ₹497
1         RapidBox                                   Sneakers For Men    ₹590
2           BRUTON               Modern Trendy Shoes Sneakers For Men    ₹470
3           Labbin                                   Sneakers For Men    ₹499
4           BRUTON  Lightweight Pack Of 1 Trendy Sneakers Sneakers...    ₹259
..             ...                                                ...     ...
95        shoocity  Casual Sneakers White Shoes For Girls And Snea...    ₹649
96      HIGHLANDER  Casual , Partywear Sneakers Shoes For Men's An...    ₹995
97          Shozie          Men's White Faux Leather Sneakers For Men    ₹449
98          BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    ₹636
99  LOUIS PHILIPPE                                   Sneakers For Men  ₹2,799

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [72]:
# Loading Chrome Driver
driver = selenium.webdriver.Chrome("C:/chrome_driver/chromedriver.exe")

# opening web address in chrome driver browser to access html, css information
driver.get('https://www.flipkart.com/')
button1 = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, '//button[@class=\"_2KpZ6l _2doB4z\"]')))
button1.click()

In [73]:
# finding search bar with the help of Class name
search_bar = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.CLASS_NAME, '_3704LK')))
search_bar.send_keys('iphone 11')  # giving iphone11 as arguement in search bar 
search_bar.send_keys(Keys.RETURN)

In [74]:
# opening iphone 11 from results
phone = WebDriverWait(driver, 3).until(EC.presence_of_element_located((By.XPATH, '//a[@class="_1fQZEK"]')))
a = phone.get_attribute('href') # opening in same address, as flipkart opens new tab when clicked on link 
driver.get(a)

In [76]:
# Clicking on all review to view all reviews for iphone 11
all_review = driver.find_element(By.XPATH, '//*[@id="container"]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div')
all_review.click()

In [77]:
# Creating empty lists
rating = []
review_title = []
review_description = []

In [78]:
# appending page no. links in list to iterate over to get 100 results
links = driver.find_elements(By.XPATH, '//a[@class="ge-49M"]')
link = []
for _ in links:
    link.append(_.get_attribute('href'))

In [79]:
# For first page, extracting review title
review_title_element = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for _ in review_title_element:
    a = _.text
    review_title.append(a)

In [80]:
# For first page, extracting review description
review_description_element = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for _ in review_description_element:
    a = _.text
    review_description.append(a)

In [81]:
# For first page, extracting review rating
ratings_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
for _ in ratings_element:
    a = _.text
    rating.append(a)

In [82]:
for i in link:
    
    driver.get(i)  # opening extracted href, i.e. moving to next page
    driver.implicitly_wait(5)  # wait for some time to allow page to load
    
        
    review_title_element = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')  # Extracting review title and appending
    for _ in review_title_element:
        a = _.text
        review_title.append(a)
        
    review_description_element = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')  # Extracting review description and appending
    for _ in review_description_element:
        a = _.text
        review_description.append(a)
        
    ratings_element = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')  # Extracting review rating and appending
    for _ in ratings_element:
        a = _.text
        rating.append(a)
        
        
    links = driver.find_elements(By.XPATH, '//a[@class="ge-49M"]')  # Finding additional page no. links in bottom nav bar 
    
    # Appending new links, checking if not present
    for _ in links:  
        linka = _.get_attribute('href')
        if linka not in link:
            link.append(_.get_attribute('href'))
            
        if len(link) == 10:
            break

In [83]:
# Creating data frame for saving/processing scrapped data

df = pd.DataFrame()

df['rating'] = rating[:100]
df['review_title'] = review_title[:100]
df['review_description'] = review_description[:100]

df

,rating,review_title,review_description
0,5,Simply awesome,Really satisfied with the Product I received.....
1,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Worth every penny,It is better to buy iPhone 11 over iPhone 12 i...
96,5,Excellent,A perfect phone and a good battery super camer...
97,5,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...
98,4,Excellent,It was amazing experience for me. Honestly i a...
99,5,Terrific,"I bought iPhone 11 On March 2021, And I am Wri..."