In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shiva\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shiva\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\shiva\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\shiva\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shiva\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\users\shiva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\shiva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\shiva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\shiva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\shiva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\shiva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\shiva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shiva\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\users\shiva\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\shiva\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shiva\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shiva\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
### This task will be done in following steps:
### 1. First get the webpage https://www.naukri.com/
### 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
### 3. Then click the search button.
### 4. Then scrape the data for the first 10 jobs results you get.
### 5. Finally create a dataframe of the scraped data.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException , NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome("C:/chrome_driver/chromedriver.exe")

In [4]:
driver.get('https://www.naukri.com/')
# time(5)

In [5]:
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Analyst')

In [6]:
locations = driver.find_element(By.XPATH, '//*[@id="root"]/div[6]/div/div/div[5]/div/div/div/input')
locations.send_keys('Banglaore')

In [7]:
search = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()

In [23]:
job_title = []
job_location = []
company_name = []
experiance_required = []

title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
    
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
    
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
experiance_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experiance_tags[0:10]:
    experiance = i.text
    experiance_required.append(experiance)

In [24]:
df = pd.DataFrame()
df["Title"] = job_title
df["Job_location"] = job_location
df["Company_Name"] = company_name
df["Experiance Required"] = experiance_required

In [25]:
print("Job Roles For Data Analyst in Bangalore")
df

,Title,Job_location,Company_Name,Experiance Required
0,Senior Data Analyst,"Chennai, Bangalore/Bengaluru",Latentview,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
2,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Kolkata, Hyderabad/Secunderabad, Pune, Bangalo...",Cognizant,3-8 Yrs
3,Call For Clinical Data Analyst - Hyd/Bangalore...,"Kolkata, Hyderabad/Secunderabad, Pune, Bangalo...",Cognizant,6-9 Yrs
4,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
5,HR Data Analyst,Bangalore/Bengaluru,Hitachi Ltd.,3-6 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Klub,2-5 Yrs
7,Sr. SAP Hana Data Analyst,Bangalore/Bengaluru,Anicalls,5-10 Yrs
8,Business Execution (Data and Reporting Analyst),Bangalore/Bengaluru,Wells Fargo,6-11 Yrs
9,Data Analyst,"Mangaluru/Mangalore, Pune, Bangalore/Bengaluru...","Coresight Research, Inc.",4-8 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
### This task will be done in following steps:
### 1. First get the webpage https://www.naukri.com/
### 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
### 3. Then click the search button.
### 4. Then scrape the data for the first 10 jobs results you get.
### 5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [29]:
driver = webdriver.Chrome("C:/chrome_driver/chromedriver.exe")

In [30]:
driver.get('https://www.naukri.com/')
# time(5)

In [31]:
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Scientist')

In [32]:
locations = driver.find_element(By.XPATH, '//*[@id="root"]/div[6]/div/div/div[5]/div/div/div/input')
locations.send_keys('Banglaore')

In [33]:
search = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()

In [34]:
job_title = []
job_location = []
company_name = []
experiance_required = []

title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
    
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
    
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
experiance_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experiance_tags[0:10]:
    experiance = i.text
    experiance_required.append(experiance)

In [37]:
df = pd.DataFrame()
df["Title"] = job_title
df["Job_location"] = job_location
df["Company_Name"] = company_name
df["Experiance Required"] = experiance_required

Job Roles For Data Scientist in Bangalore

In [40]:
print("\033[1m Job Roles For Data Scientist in Bangalore \033[0;0m")
df

 Job Roles For Data Scientist in Bangalore

,Title,Job_location,Company_Name,Experiance Required
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
1,Data Science Manager,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,4-7 Yrs
2,"Mongodb Database Administrator, Maria DB or Ca...","Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Mphasis,9-14 Yrs
3,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
4,Assistant Manager - Data Science,"Mumbai, Pune, Bangalore/Bengaluru",CitiusTech,5-9 Yrs
5,Data Scientist,"New Delhi, Pune, Gurgaon/Gurugram, Bangalore/B...",ZS Associates,5-8 Yrs
6,Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tech Mahindra,10-14 Yrs
7,Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,5-10 Yrs
8,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,4-8 Yrs
9,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart,3-7 Yrs

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
### You have to use the location and salary filter.
### You have to scrape data for “Data Scientist” designation for first 10 job results.
### You have to scrape the job-title, job-location, company name, experience required.
### The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [63]:
driver = webdriver.Chrome("C:/chrome_driver/chromedriver.exe")
driver.get('https://www.naukri.com/')
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Scientist')
locations = driver.find_element(By.XPATH, '//*[@id="root"]/div[6]/div/div/div[5]/div/div/div/input')
locations.send_keys('Delhi/NCR')

In [64]:
search = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()

In [65]:
search_filter = driver.find_element(By.XPATH, '//*[@id="root"]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
search_filter.click()

In [66]:
job_title = []
job_location = []
company_name = []
experiance_required = []

title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
    
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
    
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
experiance_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experiance_tags[0:10]:
    experiance = i.text
    experiance_required.append(experiance)

In [67]:
print("\033[1m Job Roles For Data Scientist in Bangalore \033[0;0m")
df = pd.DataFrame()
df["Title"] = job_title
df["Job_location"] = job_location
df["Company_Name"] = company_name
df["Experiance Required"] = experiance_required
df

 Job Roles For Data Scientist in Bangalore

,Title,Job_location,Company_Name,Experiance Required
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Data Scientist,Gurgaon/Gurugram,IHS Markit,3-6 Yrs
3,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
4,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
5,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
6,Data Scientist - Engine Algorithm,"Kolkata, Mumbai, Hyderabad/Secunderabad, Luckn...",Primo Hiring,1-3 Yrs
7,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
8,Data Activation Specialist - Adobe Target,"Kolkata, Mumbai, Hyderabad/Secunderabad, Luckn...",Okda Solutions,7-10 Yrs
9,Module Lead - BIDW,Bangalore/Bengaluru,Mphasis,5-8 Yrs